In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

%matplotlib inline

%pwd

'/home/june/Pydata'

In [3]:
close_px = pd.read_csv('./pydata-book/ch11/stock_px.csv', parse_dates=True, index_col=0)
volume = pd.read_csv('./pydata-book/ch11/volume.csv', parse_dates=True, index_col=0)
prices = close_px.loc['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.loc['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [5]:
close_px.head()

              AA  AAPL    GE    IBM   JNJ  MSFT   PEP     SPX   XOM
1990-02-01  4.98  7.86  2.87  16.79  4.27  0.51  6.04  328.79  6.12
1990-02-02  5.04  8.00  2.87  16.89  4.37  0.51  6.09  330.92  6.24
1990-02-05  5.07  8.18  2.87  17.32  4.34  0.51  6.05  331.85  6.25
1990-02-06  5.01  8.12  2.88  17.56  4.32  0.51  6.15  329.66  6.23
1990-02-07  5.04  7.77  2.91  17.93  4.38  0.51  6.17  333.75  6.33

In [6]:
volume.head()

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

### Volume weighted average prices.
#### multiplification by datetime stamp

In [7]:
prices*volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

In [8]:
vwap = (prices * volume).sum() / volume.sum()
vwap

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [9]:
vwap.dropna()

AAPL    380.655181
JNJ      64.394769
XOM      72.024288
dtype: float64

### align. two different dataframe by specified joining method.('Inner')


```python
DataFrame.align(D2, join = 'inner')
```

`return aligned tuples of each Dataframes`

In [12]:
prices.align(volume, join = 'inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                   AAPL         JNJ         XOM
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0)

In [11]:
s1 = Series(range(3), index = ['a', 'b', 'c'])
s2 = Series(range(4), index = ['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

### Time Series of different frequencies.

In [13]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    0.603399
2012-06-20    0.958228
2012-06-27    1.464596
Freq: W-WED, dtype: float64

In [18]:
ts1.resample('B')

DatetimeIndexResampler [freq=<BusinessDay>, axis=0, closed=left, label=left, convention=start, base=0]

In [19]:
ts1

2012-06-13    0.603399
2012-06-20    0.958228
2012-06-27    1.464596
Freq: W-WED, dtype: float64

### Deprecation, fill_method => .ffill()
### .bfill()
### .mean()
### .median()
### .quantile()..
`resample('B', fill_method = 'ffill') -> resample('B').ffill()`

In [50]:
ts1 = ts1.resample('B').ffill()

In [51]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                          '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12   -1.600732
2012-06-17   -0.203571
2012-06-18   -0.341058
2012-06-21    1.565390
2012-06-22    0.791074
2012-06-29    0.259982
dtype: float64

In [52]:
ts1

2012-06-13    0.603399
2012-06-14    0.603399
2012-06-15    0.603399
2012-06-18    0.603399
2012-06-19    0.603399
2012-06-20    0.958228
2012-06-21    0.958228
2012-06-22    0.958228
2012-06-25    0.958228
2012-06-26    0.958228
2012-06-27    1.464596
Freq: B, dtype: float64

In [45]:
ts1 = ts1.resample('B').ffill()

In [53]:
ts1.reindex(ts2.index).ffill()

2012-06-12         NaN
2012-06-17         NaN
2012-06-18    0.603399
2012-06-21    0.958228
2012-06-22    0.958228
2012-06-29    0.958228
dtype: float64

In [54]:
ts2 + ts1.reindex(ts2.index).ffill()

2012-06-12         NaN
2012-06-17         NaN
2012-06-18    0.262341
2012-06-21    2.523618
2012-06-22    1.749303
2012-06-29    1.218211
dtype: float64

### REINDEX D1 with D2.index
#### Iregular index.
D1.reindex(D2.index, method = 'ffill')

In [55]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [56]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [58]:
infl_q = infl.asfreq('Q-SEP', how = 'end')

In [59]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [61]:
infl_q.reindex(gdp.index, method = 'ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [63]:
# Make an intraday date range and time series
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')

In [71]:
rng + pd.offsets.BDay(1)

DatetimeIndex(['2012-06-04 09:30:00', '2012-06-04 09:31:00',
               '2012-06-04 09:32:00', '2012-06-04 09:33:00',
               '2012-06-04 09:34:00', '2012-06-04 09:35:00',
               '2012-06-04 09:36:00', '2012-06-04 09:37:00',
               '2012-06-04 09:38:00', '2012-06-04 09:39:00',
               ...
               '2012-06-04 15:50:00', '2012-06-04 15:51:00',
               '2012-06-04 15:52:00', '2012-06-04 15:53:00',
               '2012-06-04 15:54:00', '2012-06-04 15:55:00',
               '2012-06-04 15:56:00', '2012-06-04 15:57:00',
               '2012-06-04 15:58:00', '2012-06-04 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [75]:
rng + pd.offsets.DateOffset(3)

DatetimeIndex(['2012-06-04 09:30:00', '2012-06-04 09:31:00',
               '2012-06-04 09:32:00', '2012-06-04 09:33:00',
               '2012-06-04 09:34:00', '2012-06-04 09:35:00',
               '2012-06-04 09:36:00', '2012-06-04 09:37:00',
               '2012-06-04 09:38:00', '2012-06-04 09:39:00',
               ...
               '2012-06-04 15:50:00', '2012-06-04 15:51:00',
               '2012-06-04 15:52:00', '2012-06-04 15:53:00',
               '2012-06-04 15:54:00', '2012-06-04 15:55:00',
               '2012-06-04 15:56:00', '2012-06-04 15:57:00',
               '2012-06-04 15:58:00', '2012-06-04 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [76]:
rng + pd.offsets.Day(3)

DatetimeIndex(['2012-06-04 09:30:00', '2012-06-04 09:31:00',
               '2012-06-04 09:32:00', '2012-06-04 09:33:00',
               '2012-06-04 09:34:00', '2012-06-04 09:35:00',
               '2012-06-04 09:36:00', '2012-06-04 09:37:00',
               '2012-06-04 09:38:00', '2012-06-04 09:39:00',
               ...
               '2012-06-04 15:50:00', '2012-06-04 15:51:00',
               '2012-06-04 15:52:00', '2012-06-04 15:53:00',
               '2012-06-04 15:54:00', '2012-06-04 15:55:00',
               '2012-06-04 15:56:00', '2012-06-04 15:57:00',
               '2012-06-04 15:58:00', '2012-06-04 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [62]:
# Make a 5-day series of 9:30-15:59 values
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [77]:
from datetime import time
ts[time(10,0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [78]:
ts.at_time(time(10,0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [80]:
ts.between_time(time(10,0), time(10,1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [82]:
np.random.seed(12346)

In [83]:
indexer = np.sort(np.random.permutation(len(ts))[700:])

In [87]:
irr_ts = ts.copy()

In [88]:
irr_ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [89]:
irr_ts[indexer] = np.nan
irr_ts
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00    20.0
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00    23.0
2012-06-01 09:54:00     NaN
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [91]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')

### asof.
#### At the time or Most recent available time.

In [109]:
irr_ts.asof(selection)

2012-06-01 10:00:00      25.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1197.0
Freq: B, dtype: float64

In [110]:
irr_ts[irr_ts.isin(irr_ts.asof(selection))]

2012-06-01 09:55:00      25.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 09:57:00    1197.0
dtype: float64

In [95]:
irr_ts.at_time(time(10,0))

2012-06-01 10:00:00      NaN
2012-06-04 10:00:00    420.0
2012-06-05 10:00:00    810.0
2012-06-06 10:00:00      NaN
dtype: float64

In [97]:
irr_ts[:'2012-06-01 10:00:00']

2012-06-01 09:30:00     0.0
2012-06-01 09:31:00     NaN
2012-06-01 09:32:00     NaN
2012-06-01 09:33:00     3.0
2012-06-01 09:34:00     NaN
2012-06-01 09:35:00     5.0
                       ...
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
Length: 31, dtype: float64

In [103]:
irr_ts[irr_ts == 25.0]

2012-06-01 09:55:00    25.0
dtype: float64

In [116]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/12/2012', periods=6))
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/13/2012', periods=6))
data1, data2

(              a    b    c
 2012-06-12  1.0  1.0  1.0
 2012-06-13  1.0  1.0  1.0
 2012-06-14  1.0  1.0  1.0
 2012-06-15  1.0  1.0  1.0
 2012-06-16  1.0  1.0  1.0
 2012-06-17  1.0  1.0  1.0,               a    b    c
 2012-06-13  2.0  2.0  2.0
 2012-06-14  2.0  2.0  2.0
 2012-06-15  2.0  2.0  2.0
 2012-06-16  2.0  2.0  2.0
 2012-06-17  2.0  2.0  2.0
 2012-06-18  2.0  2.0  2.0)

In [118]:
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc[:'2012-06-15']])

spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-13  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0

In [123]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('6/13/2012', periods=6))
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc['2012-06-15':]])
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [124]:
spliced_filled = spliced.combine_first(data2)

In [125]:
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [129]:
spliced.update(data2, overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [130]:
cp_spliced = spliced.copy()
cp_spliced[['a','c']] = data1[['a','c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

In [146]:
#from pandas_datareader import web
import pandas_datareader as web

price = web.get_data_google('AAPL','2011-01-01')['Close']

In [147]:
price[-5:]

Date
2017-07-17    149.56
2017-07-18    150.08
2017-07-19    151.02
2017-07-20    150.34
2017-07-21    150.27
Name: Close, dtype: float64

In [149]:
price['2011-10-03'] / price['2011-3-01'] -1

0.072344689378757598

In [151]:
returns = price.pct_change()
returns

Date
2011-01-03         NaN
2011-01-04    0.005310
2011-01-05    0.008029
2011-01-06   -0.000629
2011-01-07    0.007131
2011-01-10    0.018742
                ...
2017-07-14    0.008594
2017-07-17    0.003489
2017-07-18    0.003477
2017-07-19    0.006263
2017-07-20   -0.004503
2017-07-21   -0.000466
Name: Close, Length: 1649, dtype: float64

In [153]:
ret_index = (1 + returns).cumprod()

ret_index

Date
2011-01-03         NaN
2011-01-04    1.005310
2011-01-05    1.013381
2011-01-06    1.012744
2011-01-07    1.019966
2011-01-10    1.039082
                ...
2017-07-14    3.165675
2017-07-17    3.176720
2017-07-18    3.187766
2017-07-19    3.207732
2017-07-20    3.193288
2017-07-21    3.191801
Name: Close, Length: 1649, dtype: float64

## Resample returns into Bussiness Monthly
### revert into return rate
### resample('BM').last().pct_change()

In [155]:
ret_index[0] = 1

m_returns = ret_index.resample('BM').last().pct_change()

In [156]:
m_returns

Date
2011-01-31         NaN
2011-02-28    0.041056
2011-03-31   -0.013278
2011-04-29    0.004619
2011-05-31   -0.006597
2011-06-30   -0.035017
                ...
2017-02-28    0.128883
2017-03-31    0.048690
2017-04-28   -0.000070
2017-05-31    0.063418
2017-06-30   -0.057214
2017-07-31    0.043397
Freq: BM, Name: Close, Length: 79, dtype: float64

In [157]:
m_returns['2012']

Date
2012-01-31    0.127031
2012-02-29    0.188315
2012-03-30    0.105304
2012-04-30   -0.025919
2012-05-31   -0.010787
2012-06-29    0.010905
2012-07-31    0.045787
2012-08-31    0.089169
2012-09-28    0.002841
2012-10-31   -0.107555
2012-11-30   -0.016931
2012-12-31   -0.090779
Freq: BM, Name: Close, dtype: float64

In [160]:
m_rets = (1 + returns).resample('M', kind = 'period').prod() - 1
m_rets['2012']

Date
2012-01    0.127031
2012-02    0.188315
2012-03    0.105304
2012-04   -0.025919
2012-05   -0.010787
2012-06    0.010905
2012-07    0.045787
2012-08    0.089169
2012-09    0.002841
2012-10   -0.107555
2012-11   -0.016931
2012-12   -0.090779
Freq: M, Name: Close, dtype: float64

In [162]:
returns[dividend_dates] += dividend_pcts

NameError: name 'dividend_dates' is not defined

In [163]:
import random; random.seed(0)
import string

In [178]:
N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])

tickers = np.array([rands(5) for _ in range(N)])
tickers

array(['KSHJF', 'GFBTV', 'IPCCV', 'YEEBC', 'WRVMW', 'QIQZH', 'GVSNS',
       'IOPVU', 'WZLCK', 'TDPSU', 'KGHAX', 'IDWHL', 'ZFKNB', 'DZEWH',
       'BSURT', 'VCADU', 'GTSDM', 'CLDBT', 'AGFWD', 'PGXZB', 'VARNT',
       'DICHC', 'UJLNF', 'BQOBT', 'DWMGI', 'LXPSF', 'WVGYB', 'ZVFFK',
       'QIDTO', 'VFAPV', 'NSQJU', 'LMVIE', 'RWAOX', 'CKXBR', 'IEHYP',
       'LTJVL', 'SUTEW', 'JMXNU', 'CATGW', 'KFHHU', 'OMWVS', 'NBMWS',
       'NYVWB', 'FOCIW', 'FOQPR', 'TYABP', 'KJOBZ', 'ZNGRU', 'CXEAM',
       'VNKAG', 'AWYAV', 'QTDGD', 'TUGJI', 'WFDPM', 'UCAIO', 'ZZDIE',
       'UQUUL', 'DEIAB', 'BGVIR', 'KLSBX', 'WTUPW', 'UOUNL', 'RFGMS',
       'JAEEI', 'KKZLW', 'CKYTB', 'BIFES', 'JLMRE', 'JDPXH', 'BJFQX',
       'CJMKJ', 'NDDRP', 'PKZZK', 'DPDWP', 'NBJKX', 'VEFUS', 'MZUCC',
       'ZCGXH', 'BMADM', 'RQJOP', 'ZSWVG', 'NCLHI', 'SYFNG', 'LDCWA',
       'QOYVG', 'DPMIG', 'UBZGT', 'EDGOM', 'LREDT', 'PESMU', 'VNQPV',
       'KPPUV', 'GRTHA', 'KWXKK', 'BQEIT', 'ZEMSJ', 'WWZPC', 'ZCQBC',
       'HEBJA', 'YOKFZ', 'EUOLQ', 'MQQBS', 'CVZZQ', 'YTCXN', 'YGJRT',
       'NPZMT', 'SHZAV', 'AXFJQ', 'SIKCP', 'IJYNM', 'ZMBFU', 'EHJXK',
       'BBPNE', 'PTWCV', 'WEZLN', 'BTOMO', 'BDPYE', 'ABTTE', 'UKDWR',
       'ULGMZ', 'YYPDB', 'TWOTU', 'KUDVW', 'TJZEM', 'ZJXVZ', 'DQZGB',
       'ZMOLY', 'GOLZU', 'CBBPI', 'AQVSS', 'GHCYU', 'YQWQN', 'QJDEN',
       'SNCDN', 'CDNYE', 'XAZON', 'VNAPK', 'XICLC', 'DLWAL', 'LFAHL',
       'CTEGA', 'GVVXD', 'XAJLW', 'ATHEF', 'ODPLW', 'IEAGL', 'KPJJR',
       'UKFSC', 'DRSJF', 'MEEZH', 'KQHHY', 'FJLNV', 'BETAM', 'CWCEN',
       'JRNXE', 'SNJUL', 'CHOUL', 'UQBMN', 'ANXKO', 'GLJPC', 'FZDID',
       'RTWEZ', 'WOMFY', 'NNFHO', 'KQELO', 'UUCPY', 'GJAWO', 'TOAGJ',
       'DYUJR', 'TENWY', 'PCVPY', 'HRYMI', 'UADIV', 'BAIMQ', 'SWMOD',
       'XILJY', 'VGTCB', 'CZIJR', 'KDQHY', 'FCNJJ', 'QESQU', 'GRDNU',
       'RMXYZ', 'IJOLS', 'UEFDW', 'DMMSO', 'ERVJL', 'UPXNG', 'PPWQK',
       'PUBOJ', 'EXPBT', 'GALPM', 'AQCVC', 'VXVMA', 'LBDTA', 'IUWJX',
       'HEYSJ', 'GDNOW', 'KMFKN', 'UVNEO', 'WEQKE', 'GFOLZ', 'MNZPM',
       'XHZGO', 'GSWBM', 'BHUCF', 'LBXUV', 'FHTJT', 'CWQYJ', 'YLNOB',
       'UWQVU', 'RXNSO', 'PIWPG', 'KIBBB', 'FLAJU', 'AECZN', 'VHTMR',
       'HOGKT', 'DTCZK', 'KROKI', 'AQBGL', 'CGQLG', 'GIVXX', 'JJQMI',
       'PLWHB', 'JRCAO', 'PXOBZ', 'NPOOD', 'CCHDY', 'ENGOT', 'CNRYM',
       'BFHPH', 'EILKN', 'DRJTR', 'ZGWJY', 'OQTOR', 'UIIHA', 'DTZWD',
       'FXNHG', 'JXVAX', 'RQNBD', 'MUIDX', 'SLHVW', 'WRVJH', 'XHCQJ',
       'VKHLU', 'PJSFE', 'ZARQK', 'LSUAZ', 'EMEFQ', 'CEYGZ', 'YPSYW',
       'GHXEH', 'YMLTS', 'EUPDT', 'AQTLP', 'OJAHR', 'UFVPZ', 'XPRKW',
       'CIETM', 'WGKZJ', 'MBGBK', 'XXHKO', 'VXVVH', 'ILVFJ', 'ALSRB',
       'XUELA', 'PUBAH', 'BAHUK', 'CBLVN', 'EGONE', 'LJFUK', 'XZXNM',
       'ANIRR', 'ZXVWO', 'YBSDN', 'MFAQE', 'TVQXW', 'ECKHF', 'HAZFX',
       'ZVRFW', 'CNTDT', 'UOWET', 'TBIKZ', 'XXMAU', 'BPCLJ', 'VEOHQ',
       'LFXYM', 'KIZPM', 'AJQJR', 'PBYRS', 'RIVBO', 'MXDML', 'PBAIX',
       'BIVVS', 'WYJVY', 'GYQQK', 'MIGDS', 'KZHSV', 'XRVLF', 'EKXAS',
       'BSELL', 'JUJKP', 'ZMTNF', 'AZESB', 'OEKAX', 'PVVYI', 'XTGCR',
       'NIFQF', 'CVUFS', 'DQUZR', 'TMYNI', 'JJANY', 'WIIRQ', 'RKKGW',
       'ZNZEA', 'YQEZV', 'WZSML', 'OBRNU', 'TZZYH', 'ALQFV', 'GULUW',
       'PAXXH', 'SHIFY', 'NCSOH', 'XWOQZ', 'ZWDGF', 'OCNUM', 'IINYY',
       'LTKCJ', 'APAYI', 'GYMMN', 'YUUVM', 'WBSOL', 'SESWI', 'KAMPQ',
       'EBCSL', 'LACGW', 'DVRPB', 'KAKME', 'YUINV', 'ETEMJ', 'QBFEE',
       'PWUWY', 'XBXQB', 'RWXWU', 'MFLZS', 'CCRFI', 'GZIKW', 'WIZIQ',
       'OEYOR', 'EBUSF', 'UQBYK', 'CGUZO', 'THZOQ', 'FWKUE', 'PYRBR',
       'CQKAY', 'CDNTL', 'SOKMQ', 'LUDEK', 'AFXEA', 'KTGBN', 'UBWJZ',
       'MBTYZ', 'WFLCN', 'BOLTT', 'YIVJS', 'ZONFA', 'OZIGM', 'CLDDA',
       'LAFMT', 'WUAKO', 'ZRXWP', 'PCBRM', 'ZZIAU', 'QDCKL', 'DPBEQ',
       'UZJBA', 'MKFRW', 'EFFYF', 'UVHTK', 'APUVM', 'BHHUJ', 'KFHLH',
       'FNOLS', 'EMSYA', 'FSAVM', 'WZFEA', 'AKQAB', 'BYDST', 'EYEVZ',
       'MZANN', 'SVKWH', 'ELQGR', 'MCENS', 'VLDNN', 'HPMHM', 'HUPMS',
       'CIIQL', 'RATTY', 'PHIBT', 'KZMUD', 'RBEWM', 'AYNXM', 'NDWOT',
       'OFFKP', 'NFSJY', 'QDLLE', 'ULYPU', 'QYBGI', 'FXSKJ', 'MUBJR',
       'NBVNI', 'MXGLE', 'EDTLF', 'ANSMO', 'CUWWV', 'CYNRX', 'REFEG',
       'FHAQE', 'PLTXJ', 'WZKVD', 'ZNYIF', 'KUQKR', 'WEMXX', 'RJHML',
       'MPQJN', 'NDVEE', 'ASTUW', 'QDWYU', 'WGTUT', 'QDIWX', 'TFMCZ',
       'BADLX', 'PKDVO', 'LSWIV', 'PZYHF', 'RRCYQ', 'FAUFQ', 'NTVGO',
       'WVMIA', 'SEMFO', 'SBMZC', 'USMKH', 'QOBPT', 'DIQPR', 'UMPIF',
       'HRLFJ', 'TEOCC', 'PMSNR', 'CIPHD', 'JELZD', 'EVBVE', 'SRGAB',
       'MRWYT', 'PWWDP', 'RLYKD', 'VAHHP', 'JIHAP', 'LQKCC', 'JSNHX',
       'LMYEH', 'JGXYP', 'VZLJM', 'TEYDM', 'LQPHU', 'WLULN', 'ILMYY',
       'WJDPJ', 'DOELH', 'XFKPH', 'DVMMO', 'QOSTH', 'VMQJP', 'HKQVA',
       'CPKMH', 'NBSYB', 'NCIGX', 'KFDFZ', 'WLAHB', 'AMRAE', 'DTTGC',
       'XOGAQ', 'TNCRF', 'HHNMP', 'ZANGM', 'YBTIA', 'SLWLK', 'VOUET',
       'QCIDW', 'DIAWE', 'TYVEM', 'GSVKG', 'NQQDR', 'DWPDQ', 'OPFOR',
       'KENIM', 'CSQKH', 'OHLPY', 'NAOXA', 'RMYYO', 'HNHIP', 'PEHOJ',
       'LUPTE', 'QVCGJ', 'QUVDB', 'EKBKT', 'ZFYOM', 'VGNPG', 'FMBZZ',
       'YKYVQ', 'GXKFQ', 'RWTSN', 'EUWTP', 'VSGTO', 'BHPTK', 'RXGAB',
       'BEHOV', 'THVVD', 'YQNUU', 'JVKPV', 'GFLRL', 'WOMOV', 'KOCEH',
       'YDYEM', 'OWRGL', 'WBAMG', 'CNSSZ', 'NRGUA', 'VEQUP', 'JMRRC',
       'CTXPY', 'AGNTY', 'LJCXA', 'YZHTA', 'SQLEO', 'IDSOI', 'HMMXQ',
       'KHSIC', 'BEKUS', 'SPCQP', 'NKMXA', 'DNTVE', 'YEADW', 'NHBUI',
       'IMDLJ', 'LTZUG', 'XRRBK', 'QRAFP', 'AUIKE', 'LDTRN', 'ZYCIS',
       'DQCSE', 'PBQZH', 'LDRWG', 'FWVHM', 'GTWXO', 'LFIXL', 'RGGOK',
       'EIRVY', 'YACVK', 'JWZKB', 'CTAJZ', 'DFWIG', 'QRLOC', 'NQRND',
       'CSOKF', 'JHUNV', 'WJBAA', 'UICVK', 'KRUJB', 'ZWHWQ', 'EITBZ',
       'MNISH', 'IKZRP', 'OWDNL', 'FQBHW', 'ZPMAH', 'CJDFE', 'OAYLQ',
       'NDQHP', 'JIMNP', 'WBFWQ', 'LGHEH', 'ZJZEF', 'RIRAF', 'HXNWF',
       'HYRES', 'VFXHQ', 'YJZZW', 'XAXOZ', 'GBNFM', 'QMGMR', 'QPDEC',
       'RACAX', 'HXMOV', 'INLVM', 'IXCYF', 'SHXGB', 'YBQZC', 'WOHOW',
       'YYVET', 'UQJAT', 'ELVLL', 'JQUWI', 'EAPZX', 'GTMKP', 'JOEPJ',
       'ZWKLU', 'TMMSM', 'WQJVY', 'SHGNG', 'IQFQE', 'ZTQYR', 'YQUPK',
       'INJOU', 'QBZXG', 'IOWCA', 'GTDIZ', 'AGFTF', 'VLTZI', 'AVVAA',
       'TFJHM', 'PXLLC', 'SNZDW', 'AYFAT', 'RILXG', 'MGKFZ', 'FPVET',
       'SQNSU', 'HABNT', 'BUUUE', 'QCNJK', 'UUTGW', 'BKEKV', 'XIPPT',
       'KIUCO', 'ZYFDQ', 'IRWMT', 'ONVFT', 'NYEVV', 'YZDSY', 'DFXPJ',
       'VXDVY', 'NIIZD', 'ULQRZ', 'CABTA', 'YEDNM', 'ZPAKU', 'ECWMU',
       'SXHBG', 'NABTZ', 'MERXW', 'JNMRB', 'XORER', 'EUGSF', 'CSPJI',
       'IGMVA', 'UBQYY', 'CAUJE', 'YEYQE', 'DKAXK', 'EKSYC', 'CLGIO',
       'KVPPR', 'QCCKO', 'MYMRP', 'RNQCH', 'EUMQK', 'ECEEB', 'MUSDV',
       'CQISJ', 'LVXPM', 'SKXVT', 'OQLHY', 'QBXMZ', 'LKZQA', 'HSCPD',
       'LNYTH', 'RAQQD', 'BSLBL', 'FKIPP', 'YNAZU', 'YHUUP', 'XXLVZ',
       'ZXFBY', 'XPQVF', 'MWJVS', 'PGAWO', 'TTVFT', 'OKSKN', 'SYUEQ',
       'NMHLM', 'JHGIH', 'RSLOH', 'TKTUE', 'KHEYI', 'RFRWW', 'TDOPG',
       'WFTLT', 'HWZCR', 'PGJMI', 'QGLNK', 'XABGG', 'TFROC', 'IQJWP',
       'NKVXW', 'WMBDB', 'KFYIT', 'XROJR', 'NPLHV', 'CXCZU', 'CQAVS',
       'QKXTD', 'SHABZ', 'DXJCS', 'MWEYS', 'TQGIJ', 'FFSHE', 'EHIPZ',
       'JEXTI', 'GCEVN', 'FGSAL', 'RVPVE', 'YXICX', 'WTWIZ', 'TXHAE',
       'GXSVA', 'NEEPR', 'BQKHV', 'FOKVO', 'HUUXI', 'VWGDL', 'PILRS',
       'JGJRM', 'CFMDS', 'UDQEW', 'OENIX', 'RGYZF', 'XCIOK', 'MQBLM',
       'XXMRE', 'YWWRS', 'EUBJT', 'OQYSN', 'GOGMC', 'DRMDQ', 'VOXUF',
       'BGHHD', 'TMNCR', 'GQGGP', 'CGDQE', 'TGRSQ', 'UTNTM', 'UIVZP',
       'UUTZA', 'LLYZG', 'WUBGO', 'GQVGA', 'EHOPC', 'TIUJM', 'KXXVW',
       'JVCTD', 'PLTTU', 'CHENH', 'APJEQ', 'ULXVE', 'DQKKV', 'XCLZG',
       'GJQWN', 'UXXMM', 'BEOCJ', 'UVEQG', 'TPLES', 'ESNIX', 'GDFEO',
       'RNFBJ', 'YPSCV', 'LUDDP', 'HQBAW', 'VZSCO', 'IXSIW', 'RZMFH',
       'UDVSX', 'YQFPU', 'UHAHE', 'WTVYE', 'UEYZS', 'TFCDI', 'DITOS',
       'YISNB', 'WCEOB', 'LKIUN', 'MAJUH', 'GYCSX', 'EHQGO', 'KAYIN',
       'SQREW', 'KWSUR', 'MGJDO', 'UUIHZ', 'UIYJC', 'LEOAM', 'UOBUY',
       'YJQTY', 'NOTSX', 'QGFAI', 'DMWIG', 'PPIQM', 'ETPIF', 'WAGKI',
       'WWDVA', 'NJKTX', 'GKNYE', 'UDHLY', 'XPOFV', 'LNNNL', 'SDCRZ',
       'OEDAZ', 'QWMUP', 'HMUXD', 'NBVJT', 'FJIQD', 'RVVKA', 'EACKY',
       'KOGHL', 'VSOIR', 'FOMAD', 'ADKXG', 'JRDQY', 'JCDRT', 'JXBHD',
       'VFOFF', 'OIWFO', 'WSARM', 'ADDJC', 'UYMGI', 'XMHOU', 'TQRLF',
       'NUZAS', 'NTHJL', 'QKPUY', 'XOXWI', 'LIYFF', 'HOKUA', 'LPTZW',
       'JVHAD', 'OXQFG', 'MWTKR', 'EBPNO', 'ZOLAG', 'SGCPE', 'VCXQW',
       'VRMTI', 'GCNAR', 'PWXKX', 'AGTJY', 'YZNOW', 'QWJCB', 'CLMUN',
       'MZUWY', 'UYHJP', 'MRAUN', 'UJVPE', 'MVNMW', 'YSXTJ', 'PRLJN',
       'SUYFL', 'BNOOJ', 'CVHKH', 'MATKE', 'FPCYD', 'FTBHU', 'FAUQV',
       'NVNFJ', 'MOJRB', 'FPFDV', 'DPXJX', 'ZJJMB', 'SIKYO', 'CBYUW',
       'JHOUJ', 'RGMCN', 'BBZCL', 'AJJBA', 'BTBET', 'FPUCS', 'EAXRE',
       'ZDCWC', 'TYVDG', 'DPNCD', 'PWOQX', 'FRDEL', 'XNQEC', 'UQBXR',
       'HDXZM', 'LQKRW', 'SRMJH', 'SWCET', 'MYLXJ', 'LQLAA', 'AEIXV',
       'WGUEF', 'DPXPV', 'EIIEB', 'FVLXK', 'GUDQZ', 'PEUIK', 'GUDTV',
       'WHLZM', 'YDIYM', 'RLBUK', 'HMBYN', 'RIYZF', 'IBXIX', 'CKUNA',
       'YVIHU', 'YWFIL', 'QUDFP', 'GSTSC', 'NJWVB', 'IAAZT', 'FKFMH',
       'SRGBU', 'RYGOR', 'VOSTK', 'LLDYZ', 'ANLFP', 'HXVXU', 'ZXXUM',
       'YTAVG', 'TXPNY', 'MFEVN', 'MOXXU', 'XGICW', 'FSAJX', 'FDEIF',
       'MIQUN', 'KRXNP', 'ODITK', 'IIXJM', 'TQAPU', 'QQGNI', 'XUYNX',
       'BANRC', 'ZIWZA', 'APVZM', 'RLRPQ', 'ORXXW', 'PSFZS', 'YATLG',
       'JNCHD', 'FZTOU', 'EPKOW', 'EPZIP', 'KWQXZ', 'HYBLQ', 'IMRUT',
       'DJEQE', 'ECKGB', 'APPCS', 'QBEUO', 'SESIC', 'JLEOL', 'BKDDT',
       'VDJVJ', 'SLFYA', 'VYPMM', 'UGCNI', 'PNVPM', 'ENZGY', 'NUYGI',
       'CZEOK', 'LJZZO', 'KHFOE', 'WKZHP', 'EDRST', 'OXKFC', 'VKFIL',
       'VWDDM', 'KYKJK', 'YAGVU', 'JUFFR', 'FPHCW', 'QIWDB', 'MXCMO',
       'PVEWE', 'BDEUD', 'MTDJC', 'SSDGX', 'JMFQO', 'WIYKU', 'FUZMI',
       'FFXCG', 'UQYLV', 'XOVCK', 'QNZZJ', 'OZBEL', 'FPHHC'],
      dtype='<U5')

In [172]:
random.choice(string.ascii_uppercase)

'B'

In [175]:
lst = random.sample(string.ascii_uppercase, len(string.ascii_uppercase))
lst.sort()

In [179]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
               'Value' : np.random.randn(M) / 200 + 0.08,
               'ShortInterest' : np.random.randn(M) / 200 -0.02},
              index = tickers[:M])

In [180]:
df

       Momentum  ShortInterest     Value
KSHJF  0.034645      -0.022165  0.086014
GFBTV  0.026988      -0.029603  0.084804
IPCCV  0.036461      -0.022148  0.072658
YEEBC  0.027989      -0.020954  0.081999
WRVMW  0.031985      -0.021137  0.086451
QIQZH  0.030843      -0.013418  0.078032
...         ...            ...       ...
NQQDR  0.031833      -0.021756  0.083594
DWPDQ  0.028843      -0.022144  0.087546
OPFOR  0.031435      -0.015776  0.079320
KENIM  0.028547      -0.025792  0.083229
CSQKH  0.028895      -0.029123  0.083124
OHLPY  0.029979      -0.023758  0.086047

[500 rows x 3 columns]

### Assign randomly generated 500 tickers into one of ind_names(Financial, Tech)

In [183]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index = tickers, name = 'industry')

In [184]:
industries

KSHJF    FINANCIAL
GFBTV    FINANCIAL
IPCCV         TECH
YEEBC    FINANCIAL
WRVMW    FINANCIAL
QIQZH         TECH
           ...
FFXCG         TECH
UQYLV    FINANCIAL
XOVCK         TECH
QNZZJ         TECH
OZBEL         TECH
FPHHC         TECH
Name: industry, Length: 1000, dtype: object

In [191]:
by_industry = df.groupby(industries)

In [192]:
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.029420      -0.019990  0.080372
TECH       0.029956      -0.019767  0.079554

In [196]:
by_industry.describe().stack()

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  237.000000     237.000000  237.000000
          mean     0.029420      -0.019990    0.080372
          std      0.004876       0.004936    0.005364
          min      0.015037      -0.032580    0.065760
          25%      0.026079      -0.023317    0.076772
          50%      0.029477      -0.019756    0.080116
...                     ...            ...         ...
TECH      std      0.005237       0.004841    0.005439
          min      0.013867      -0.033472    0.064171
          25%      0.026569      -0.022997    0.076014
          50%      0.029958      -0.020006    0.079489
          75%      0.032922      -0.016135    0.083324
          max      0.044737      -0.007576    0.094456

[16 rows x 3 columns]

In [199]:
by_industry.describe().columns.names

FrozenList([None, None])

In [202]:
by_industry.describe().stack(0)

                              25%       50%       75%  count       max  \
industry
FINANCIAL Momentum       0.026079  0.029477  0.032619  237.0  0.046813
          ShortInterest -0.023317 -0.019756 -0.016667  237.0 -0.006233
          Value          0.076772  0.080116  0.083595  237.0  0.096272
TECH      Momentum       0.026569  0.029958  0.032922  263.0  0.044737
          ShortInterest -0.022997 -0.020006 -0.016135  263.0 -0.007576
          Value          0.076014  0.079489  0.083324  263.0  0.094456

                             mean       min       std
industry
FINANCIAL Momentum       0.029420  0.015037  0.004876
          ShortInterest -0.019990 -0.032580  0.004936
          Value          0.080372  0.065760  0.005364
TECH      Momentum       0.029956  0.013867  0.005237
          ShortInterest -0.019767 -0.033472  0.004841
          Value          0.079554  0.064171  0.005439

In [203]:
by_industry.describe().stack(1)

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  237.000000     237.000000  237.000000
          mean     0.029420      -0.019990    0.080372
          std      0.004876       0.004936    0.005364
          min      0.015037      -0.032580    0.065760
          25%      0.026079      -0.023317    0.076772
          50%      0.029477      -0.019756    0.080116
...                     ...            ...         ...
TECH      std      0.005237       0.004841    0.005439
          min      0.013867      -0.033472    0.064171
          25%      0.026569      -0.022997    0.076014
          50%      0.029958      -0.020006    0.079489
          75%      0.032922      -0.016135    0.083324
          max      0.044737      -0.007576    0.094456

[16 rows x 3 columns]

In [205]:
by_industry.describe().unstack('industry')

                 industry
Momentum  count  FINANCIAL    237.000000
                 TECH         263.000000
          mean   FINANCIAL      0.029420
                 TECH           0.029956
          std    FINANCIAL      0.004876
                 TECH           0.005237
                                 ...
Value     50%    FINANCIAL      0.080116
                 TECH           0.079489
          75%    FINANCIAL      0.083595
                 TECH           0.083324
          max    FINANCIAL      0.096272
                 TECH           0.094456
Length: 48, dtype: float64

In [206]:
by_industry.describe().stack(1).stack(0)

industry
FINANCIAL  count  Momentum         237.000000
                  ShortInterest    237.000000
                  Value            237.000000
           mean   Momentum           0.029420
                  ShortInterest     -0.019990
                  Value              0.080372
                                      ...
TECH       75%    Momentum           0.032922
                  ShortInterest     -0.016135
                  Value              0.083324
           max    Momentum           0.044737
                  ShortInterest     -0.007576
                  Value              0.094456
Length: 48, dtype: float64