In [1]:
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2017, 7, 20, 2, 30, 24, 468488)

In [2]:
%matplotlib inline

In [3]:
datetime(2014, 7, 31, 0, 2, 55, 874995)

now.year, now.month, now.day

(2017, 7, 20)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [7]:
from datetime import timedelta

start = datetime(2011, 1, 7)
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [8]:
start+ 2*timedelta(12)

datetime.datetime(2011, 1, 31, 0, 0)

In [9]:
stamp = datetime(2011, 1, 3)
str(stamp) # '%Y-%m-%d %H:%M:%S')

'2011-01-03 00:00:00'

In [10]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [11]:
stamp.strftime('%Y-%m-%d %H:%M:%S')

'2011-01-03 00:00:00'

In [12]:
value = '2011-01-03'

datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [13]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [14]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [16]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [17]:
datestrs

['7/6/2011', '8/6/2011']

In [18]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [19]:
pd.period_range(*datestrs, freq='B')

PeriodIndex(['2011-07-06', '2011-07-07', '2011-07-08', '2011-07-11',
             '2011-07-12', '2011-07-13', '2011-07-14', '2011-07-15',
             '2011-07-18', '2011-07-19', '2011-07-20', '2011-07-21',
             '2011-07-22', '2011-07-25', '2011-07-26', '2011-07-27',
             '2011-07-28', '2011-07-29', '2011-08-01', '2011-08-02',
             '2011-08-03', '2011-08-04', '2011-08-05', '2011-08-08'],
            dtype='period[B]', freq='B')

In [20]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [21]:
idx[2]

NaT

In [22]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [23]:
#pandas import datetime object list as Datetime Index

from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = Series(np.random.randn(6), index = dates)

In [24]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [25]:
type(ts)
ts.index.dtype

dtype('<M8[ns]')

In [26]:
#Index values are aligned
ts + ts[::2]

2011-01-02   -0.355829
2011-01-05         NaN
2011-01-07   -0.458159
2011-01-08         NaN
2011-01-10    0.288509
2011-01-12         NaN
dtype: float64

In [27]:
ts.index.dtype

dtype('<M8[ns]')

In [28]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [29]:
stamp = ts.index[2]

In [30]:
stamp

Timestamp('2011-01-07 00:00:00')

In [31]:
print (ts['1/10/2011'])
print (ts['20110110'])

0.144254307533
0.144254307533

In [32]:
longer_ts = Series(np.random.randn(1000),
                  index = pd.date_range('1/1/2000', periods = 1000))

longer_ts

2000-01-01    0.806760
2000-01-02   -0.808660
2000-01-03   -0.066348
2000-01-04    0.092438
2000-01-05   -1.229222
2000-01-06   -1.089403
                ...
2002-09-21   -0.149757
2002-09-22   -0.013573
2002-09-23   -0.358579
2002-09-24   -0.464948
2002-09-25    0.219711
2002-09-26    1.393526
Freq: D, Length: 1000, dtype: float64

In [33]:
longer_ts['2001'].count()

365

In [34]:
longer_ts['2001-05'].count()

31

In [35]:
ts[datetime(2011,1,7):]

2011-01-07   -0.229080
2011-01-08    0.297220
2011-01-10    0.144254
2011-01-12   -0.343804
dtype: float64

In [36]:
ts

2011-01-02   -0.177915
2011-01-05    0.876740
2011-01-07   -0.229080
2011-01-08    0.297220
2011-01-10    0.144254
2011-01-12   -0.343804
dtype: float64

In [37]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.229080
2011-01-08    0.297220
2011-01-10    0.144254
dtype: float64

In [38]:
#Truncate. Subsetting and Sorting Index
ts.truncate(after='1/9/2011')

2011-01-02   -0.177915
2011-01-05    0.876740
2011-01-07   -0.229080
2011-01-08    0.297220
dtype: float64

In [39]:
dates = pd.date_range('1/1/2000', periods = 100, freq= 'W-WED')
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [40]:
long_df = DataFrame(np.random.randn(100,4),
                   index = dates,
                   columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.790733  0.798873 -1.490562  2.420707
2001-05-09 -1.614616 -0.555115 -0.766766 -0.840887
2001-05-16 -0.852869 -1.854824 -0.711331 -1.234536
2001-05-23 -0.117345  2.109342  1.906553  0.274502
2001-05-30  1.043916  0.562923  0.633570 -1.177018

In [41]:
DTindex = pd.date_range('01/01/2017', periods=365, freq='D')
DTindex

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [42]:
StkPrc = DataFrame(np.random.randn(365, 4), columns=['AAPL','SEC','GE','B'], index=DTindex)
StkPrc

                AAPL       SEC        GE         B
2017-01-01 -1.265135 -0.543299 -0.610796 -0.377405
2017-01-02  2.249496  1.114153 -0.350015  0.345968
2017-01-03  0.008980  0.722512 -0.434024  0.139403
2017-01-04  1.481161  0.209488 -0.734692 -0.210617
2017-01-05  1.226965  1.793166  0.330277 -0.281135
2017-01-06 -0.790635 -2.383767 -0.960923  0.839238
...              ...       ...       ...       ...
2017-12-26  0.896109  2.800280 -2.858925  0.273218
2017-12-27  0.386155 -0.574576  1.926666 -0.511655
2017-12-28 -0.375838 -0.853028 -0.193051  0.487907
2017-12-29 -0.584526 -1.174173 -1.432828 -0.119489
2017-12-30  0.147399 -1.728745 -0.093691  0.166460
2017-12-31 -0.875480 -0.926346 -1.383399  0.913624

[365 rows x 4 columns]

In [43]:
StkPrc['2017-05'].head()

                AAPL       SEC        GE         B
2017-05-01  0.250002  0.592979 -1.511906 -0.785681
2017-05-02 -0.833467  0.349245 -1.338217  1.073316
2017-05-03 -2.010661  0.209414 -1.114108  0.759739
2017-05-04  0.366899 -0.104589  0.343123 -1.325818
2017-05-05 -0.112247  0.150496  0.228686 -0.928582

In [44]:
StkPrc['05/2017'].head()

                AAPL       SEC        GE         B
2017-05-01  0.250002  0.592979 -1.511906 -0.785681
2017-05-02 -0.833467  0.349245 -1.338217  1.073316
2017-05-03 -2.010661  0.209414 -1.114108  0.759739
2017-05-04  0.366899 -0.104589  0.343123 -1.325818
2017-05-05 -0.112247  0.150496  0.228686 -0.928582

In [45]:
StkPrc[datetime(2017, 5,1):].head()

                AAPL       SEC        GE         B
2017-05-01  0.250002  0.592979 -1.511906 -0.785681
2017-05-02 -0.833467  0.349245 -1.338217  1.073316
2017-05-03 -2.010661  0.209414 -1.114108  0.759739
2017-05-04  0.366899 -0.104589  0.343123 -1.325818
2017-05-05 -0.112247  0.150496  0.228686 -0.928582

In [46]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000','1/3/2000'])
dup_ts = Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [47]:
dup_ts.index.is_unique

False

In [48]:
dup_ts['1/3/2000']

4

In [49]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [50]:
grouped = dup_ts.groupby(level = 0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [51]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [52]:
ts

2011-01-02   -0.177915
2011-01-05    0.876740
2011-01-07   -0.229080
2011-01-08    0.297220
2011-01-10    0.144254
2011-01-12   -0.343804
dtype: float64

In [53]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [54]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [55]:
# pd.DatetimeIndex([]) 
pd.date_range(start = '4/1/2012',periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(end = '6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
#BM : Bussiness Monthly ends
pd.date_range('1/1/2000', '12/1/2000', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [58]:
pd.date_range('5/2/2012 12:56:31', periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [59]:
#Normalize time to the 00:00:00(Reset)
pd.date_range('5/2/2012 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [60]:
from pandas.tseries.offsets import Hour, Minute, Second
hour = Hour()
hour

In [61]:
four_hrs = Hour(4)
four_hrs

In [62]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq = '4T')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:04:00',
               '2000-01-01 00:08:00', '2000-01-01 00:12:00',
               '2000-01-01 00:16:00', '2000-01-01 00:20:00',
               '2000-01-01 00:24:00', '2000-01-01 00:28:00',
               '2000-01-01 00:32:00', '2000-01-01 00:36:00',
               ...
               '2000-01-03 23:20:00', '2000-01-03 23:24:00',
               '2000-01-03 23:28:00', '2000-01-03 23:32:00',
               '2000-01-03 23:36:00', '2000-01-03 23:40:00',
               '2000-01-03 23:44:00', '2000-01-03 23:48:00',
               '2000-01-03 23:52:00', '2000-01-03 23:56:00'],
              dtype='datetime64[ns]', length=1080, freq='4T')

In [63]:
Hour(2) + Minute(30) + Second(30)

In [64]:
pd.date_range('1/1/2000', periods=10, freq = '1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [65]:
pd.date_range('1/1/2000', periods=10, freq= '1h30T')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [66]:
# WOM-N%a : Weekday Of the Month - N'th Week's Weekday.(%a)

#Weekday Of the Month - 3rd Weeek's Friday
rng = pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')

In [67]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [68]:
pd.date_range('1/1/2012','9/1/2012', freq = 'WOM-4FRI')

DatetimeIndex(['2012-01-27', '2012-02-24', '2012-03-23', '2012-04-27',
               '2012-05-25', '2012-06-22', '2012-07-27', '2012-08-24'],
              dtype='datetime64[ns]', freq='WOM-4FRI')

In [69]:
pd.date_range('1/1/2012','9/1/2012', freq = 'WOM-2MON')

DatetimeIndex(['2012-01-09', '2012-02-13', '2012-03-12', '2012-04-09',
               '2012-05-14', '2012-06-11', '2012-07-09', '2012-08-13'],
              dtype='datetime64[ns]', freq='WOM-2MON')

In [70]:
rng = pd.date_range('1/12/2012','9/1/2012', freq = 'WOM-3FRI')

list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [71]:
ts = Series(np.random.randn(4),
           index = pd.date_range('1/1/2000', periods=4,
                                freq = 'M'))

In [72]:
ts

2000-01-31   -0.340138
2000-02-29    1.265975
2000-03-31    0.752663
2000-04-30   -1.039493
Freq: M, dtype: float64

In [73]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.340138
2000-04-30    1.265975
Freq: M, dtype: float64

In [74]:
ts / ts.shift(1) - 1 #ts.pct_change()

2000-01-31         NaN
2000-02-29   -4.721943
2000-03-31   -0.405468
2000-04-30   -2.381088
Freq: M, dtype: float64

In [75]:
ts.pct_change()

2000-01-31         NaN
2000-02-29   -4.721943
2000-03-31   -0.405468
2000-04-30   -2.381088
Freq: M, dtype: float64

In [76]:
ts.shift(2, freq = 'M')

2000-03-31   -0.340138
2000-04-30    1.265975
2000-05-31    0.752663
2000-06-30   -1.039493
Freq: M, dtype: float64

In [77]:
ts.shift(3, freq = 'D')

2000-02-03   -0.340138
2000-03-03    1.265975
2000-04-03    0.752663
2000-05-03   -1.039493
dtype: float64

In [78]:
ts.shift(1, freq = '3D')

2000-02-03   -0.340138
2000-03-03    1.265975
2000-04-03    0.752663
2000-05-03   -1.039493
dtype: float64

In [79]:
ts.shift(3, freq = 'D')

2000-02-03   -0.340138
2000-03-03    1.265975
2000-04-03    0.752663
2000-05-03   -1.039493
dtype: float64

In [80]:
ts.shift(1, freq = '3D')

2000-02-03   -0.340138
2000-03-03    1.265975
2000-04-03    0.752663
2000-05-03   -1.039493
dtype: float64

In [81]:
ts.shift(1, freq = '90T')

2000-01-31 01:30:00   -0.340138
2000-02-29 01:30:00    1.265975
2000-03-31 01:30:00    0.752663
2000-04-30 01:30:00   -1.039493
Freq: M, dtype: float64

In [82]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)

now + 3 *Day()

Timestamp('2011-11-20 00:00:00')

In [83]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [84]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [85]:
ts.shift(1)

2000-01-31         NaN
2000-02-29   -0.340138
2000-03-31    1.265975
2000-04-30    0.752663
Freq: M, dtype: float64

In [86]:
ts

2000-01-31   -0.340138
2000-02-29    1.265975
2000-03-31    0.752663
2000-04-30   -1.039493
Freq: M, dtype: float64

In [87]:
now + 3 * Day()

now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [88]:
now + MonthEnd(2) # Second End of next month,.

Timestamp('2011-12-31 00:00:00')

In [89]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [90]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [91]:
ts = Series(np.random.randn(20),
           index = pd.date_range('1/15/2000', periods = 20,
                                freq = '4d'))

In [92]:
ts

2000-01-15    1.417156
2000-01-19   -0.819315
2000-01-23    0.750903
2000-01-27   -2.367553
2000-01-31   -0.194756
2000-02-04    1.362453
                ...
2000-03-11    0.083476
2000-03-15   -0.714267
2000-03-19    1.361396
2000-03-23   -0.374992
2000-03-27   -0.145404
2000-03-31   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [93]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.242713
2000-02-29   -0.398930
2000-03-31   -0.276706
dtype: float64

In [94]:
ts.resample('M', how = 'mean')

/home/june/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2000-01-31   -0.242713
2000-02-29   -0.398930
2000-03-31   -0.276706
Freq: M, dtype: float64

In [95]:
import pytz

In [96]:
pytz.common_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [97]:
tz = pytz.timezone('US/Eastern')

In [98]:
tz

In [99]:
print (ts.index.tz)

None

In [100]:
pd.date_range('3/9/2012 9:30', periods = 10, freq = 'D', tz = 'UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [101]:
ts_utc = ts.tz_localize('UTC')

In [102]:
ts_utc

2000-01-15 00:00:00+00:00    1.417156
2000-01-19 00:00:00+00:00   -0.819315
2000-01-23 00:00:00+00:00    0.750903
2000-01-27 00:00:00+00:00   -2.367553
2000-01-31 00:00:00+00:00   -0.194756
2000-02-04 00:00:00+00:00    1.362453
                               ...
2000-03-11 00:00:00+00:00    0.083476
2000-03-15 00:00:00+00:00   -0.714267
2000-03-19 00:00:00+00:00    1.361396
2000-03-23 00:00:00+00:00   -0.374992
2000-03-27 00:00:00+00:00   -0.145404
2000-03-31 00:00:00+00:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [103]:
ts_utc.index

DatetimeIndex(['2000-01-15', '2000-01-19', '2000-01-23', '2000-01-27',
               '2000-01-31', '2000-02-04', '2000-02-08', '2000-02-12',
               '2000-02-16', '2000-02-20', '2000-02-24', '2000-02-28',
               '2000-03-03', '2000-03-07', '2000-03-11', '2000-03-15',
               '2000-03-19', '2000-03-23', '2000-03-27', '2000-03-31'],
              dtype='datetime64[ns, UTC]', freq='4D')

In [104]:
#Compute the Relative Distance
ts_utc.tz_convert('US/Eastern')

2000-01-14 19:00:00-05:00    1.417156
2000-01-18 19:00:00-05:00   -0.819315
2000-01-22 19:00:00-05:00    0.750903
2000-01-26 19:00:00-05:00   -2.367553
2000-01-30 19:00:00-05:00   -0.194756
2000-02-03 19:00:00-05:00    1.362453
                               ...
2000-03-10 19:00:00-05:00    0.083476
2000-03-14 19:00:00-05:00   -0.714267
2000-03-18 19:00:00-05:00    1.361396
2000-03-22 19:00:00-05:00   -0.374992
2000-03-26 19:00:00-05:00   -0.145404
2000-03-30 19:00:00-05:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [105]:
#Set as Absolute Axis
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern

2000-01-15 00:00:00-05:00    1.417156
2000-01-19 00:00:00-05:00   -0.819315
2000-01-23 00:00:00-05:00    0.750903
2000-01-27 00:00:00-05:00   -2.367553
2000-01-31 00:00:00-05:00   -0.194756
2000-02-04 00:00:00-05:00    1.362453
                               ...
2000-03-11 00:00:00-05:00    0.083476
2000-03-15 00:00:00-05:00   -0.714267
2000-03-19 00:00:00-05:00    1.361396
2000-03-23 00:00:00-05:00   -0.374992
2000-03-27 00:00:00-05:00   -0.145404
2000-03-31 00:00:00-05:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [106]:
ts_eastern.tz_convert('UTC')

2000-01-15 05:00:00+00:00    1.417156
2000-01-19 05:00:00+00:00   -0.819315
2000-01-23 05:00:00+00:00    0.750903
2000-01-27 05:00:00+00:00   -2.367553
2000-01-31 05:00:00+00:00   -0.194756
2000-02-04 05:00:00+00:00    1.362453
                               ...
2000-03-11 05:00:00+00:00    0.083476
2000-03-15 05:00:00+00:00   -0.714267
2000-03-19 05:00:00+00:00    1.361396
2000-03-23 05:00:00+00:00   -0.374992
2000-03-27 05:00:00+00:00   -0.145404
2000-03-31 05:00:00+00:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [107]:
asia_now = pd.DatetimeIndex([datetime.now()]).tz_localize('Asia/Seoul')

asia_now

DatetimeIndex(['2017-07-20 02:30:28.284670+09:00'], dtype='datetime64[ns, Asia/Seoul]', freq=None)

In [108]:
asia_now.tz_convert('UTC')

DatetimeIndex(['2017-07-19 17:30:28.284670+00:00'], dtype='datetime64[ns, UTC]', freq=None)

In [109]:
ts_eastern.tz_convert('Europe/Berlin')

2000-01-15 06:00:00+01:00    1.417156
2000-01-19 06:00:00+01:00   -0.819315
2000-01-23 06:00:00+01:00    0.750903
2000-01-27 06:00:00+01:00   -2.367553
2000-01-31 06:00:00+01:00   -0.194756
2000-02-04 06:00:00+01:00    1.362453
                               ...
2000-03-11 06:00:00+01:00    0.083476
2000-03-15 06:00:00+01:00   -0.714267
2000-03-19 06:00:00+01:00    1.361396
2000-03-23 06:00:00+01:00   -0.374992
2000-03-27 07:00:00+02:00   -0.145404
2000-03-31 07:00:00+02:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [110]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2000-01-15 00:00:00+08:00', '2000-01-19 00:00:00+08:00',
               '2000-01-23 00:00:00+08:00', '2000-01-27 00:00:00+08:00',
               '2000-01-31 00:00:00+08:00', '2000-02-04 00:00:00+08:00',
               '2000-02-08 00:00:00+08:00', '2000-02-12 00:00:00+08:00',
               '2000-02-16 00:00:00+08:00', '2000-02-20 00:00:00+08:00',
               '2000-02-24 00:00:00+08:00', '2000-02-28 00:00:00+08:00',
               '2000-03-03 00:00:00+08:00', '2000-03-07 00:00:00+08:00',
               '2000-03-11 00:00:00+08:00', '2000-03-15 00:00:00+08:00',
               '2000-03-19 00:00:00+08:00', '2000-03-23 00:00:00+08:00',
               '2000-03-27 00:00:00+08:00', '2000-03-31 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='4D')

In [111]:
ts.tz_localize('US/Eastern')

2000-01-15 00:00:00-05:00    1.417156
2000-01-19 00:00:00-05:00   -0.819315
2000-01-23 00:00:00-05:00    0.750903
2000-01-27 00:00:00-05:00   -2.367553
2000-01-31 00:00:00-05:00   -0.194756
2000-02-04 00:00:00-05:00    1.362453
                               ...
2000-03-11 00:00:00-05:00    0.083476
2000-03-15 00:00:00-05:00   -0.714267
2000-03-19 00:00:00-05:00    1.361396
2000-03-23 00:00:00-05:00   -0.374992
2000-03-27 00:00:00-05:00   -0.145404
2000-03-31 00:00:00-05:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [112]:
ts.tz_localize('US/Eastern').tz_convert('Europe/Berlin')

2000-01-15 06:00:00+01:00    1.417156
2000-01-19 06:00:00+01:00   -0.819315
2000-01-23 06:00:00+01:00    0.750903
2000-01-27 06:00:00+01:00   -2.367553
2000-01-31 06:00:00+01:00   -0.194756
2000-02-04 06:00:00+01:00    1.362453
                               ...
2000-03-11 06:00:00+01:00    0.083476
2000-03-15 06:00:00+01:00   -0.714267
2000-03-19 06:00:00+01:00    1.361396
2000-03-23 06:00:00+01:00   -0.374992
2000-03-27 07:00:00+02:00   -0.145404
2000-03-31 07:00:00+02:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [113]:
ts.tz_localize('Europe/Berlin')

2000-01-15 00:00:00+01:00    1.417156
2000-01-19 00:00:00+01:00   -0.819315
2000-01-23 00:00:00+01:00    0.750903
2000-01-27 00:00:00+01:00   -2.367553
2000-01-31 00:00:00+01:00   -0.194756
2000-02-04 00:00:00+01:00    1.362453
                               ...
2000-03-11 00:00:00+01:00    0.083476
2000-03-15 00:00:00+01:00   -0.714267
2000-03-19 00:00:00+01:00    1.361396
2000-03-23 00:00:00+01:00   -0.374992
2000-03-27 00:00:00+02:00   -0.145404
2000-03-31 00:00:00+02:00   -1.209433
Freq: 4D, Length: 20, dtype: float64

In [114]:
#tz_localize, Stamping the Time shift
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2000-01-15 00:00:00+08:00', '2000-01-19 00:00:00+08:00',
               '2000-01-23 00:00:00+08:00', '2000-01-27 00:00:00+08:00',
               '2000-01-31 00:00:00+08:00', '2000-02-04 00:00:00+08:00',
               '2000-02-08 00:00:00+08:00', '2000-02-12 00:00:00+08:00',
               '2000-02-16 00:00:00+08:00', '2000-02-20 00:00:00+08:00',
               '2000-02-24 00:00:00+08:00', '2000-02-28 00:00:00+08:00',
               '2000-03-03 00:00:00+08:00', '2000-03-07 00:00:00+08:00',
               '2000-03-11 00:00:00+08:00', '2000-03-15 00:00:00+08:00',
               '2000-03-19 00:00:00+08:00', '2000-03-23 00:00:00+08:00',
               '2000-03-27 00:00:00+08:00', '2000-03-31 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='4D')

In [115]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [116]:
stamp_utc = stamp.tz_localize('utc')

In [117]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [118]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [119]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00',
                           tz = 'Europe/Moscow')

In [120]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [121]:
stamp_utc.value

1299902400000000000

In [122]:
stamp_moscow.value

1299891600000000000

In [123]:
#Value is Invariant under Timezone Conversion

stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [124]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-12 01:30', tz = 'US/Eastern')

In [125]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [126]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [127]:
stamp + 2*Hour()

Timestamp('2012-03-12 03:30:00-0400', tz='US/Eastern')

In [128]:
stamp + Hour(2)

Timestamp('2012-03-12 03:30:00-0400', tz='US/Eastern')

In [129]:
rng = pd.date_range('3/7/2012 9:30', periods = 10, freq = 'B')
ts = Series(np.random.randn(len(rng)), index = rng)

In [130]:
ts

2012-03-07 09:30:00    1.368139
2012-03-08 09:30:00    0.187606
2012-03-09 09:30:00    1.542915
2012-03-12 09:30:00   -0.602309
2012-03-13 09:30:00    0.124075
2012-03-14 09:30:00   -1.400168
2012-03-15 09:30:00   -0.385062
2012-03-16 09:30:00    0.210449
2012-03-19 09:30:00   -0.497667
2012-03-20 09:30:00   -0.770971
Freq: B, dtype: float64

In [131]:
ts1 = ts[:7].tz_localize('Europe/London')

ts1

2012-03-07 09:30:00+00:00    1.368139
2012-03-08 09:30:00+00:00    0.187606
2012-03-09 09:30:00+00:00    1.542915
2012-03-12 09:30:00+00:00   -0.602309
2012-03-13 09:30:00+00:00    0.124075
2012-03-14 09:30:00+00:00   -1.400168
2012-03-15 09:30:00+00:00   -0.385062
Freq: B, dtype: float64

In [132]:
#Time Operation, Tz information lost
ts2 = ts1[2:].tz_convert('Europe/Moscow')

result = ts1 + ts2

result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [133]:
ts1

2012-03-07 09:30:00+00:00    1.368139
2012-03-08 09:30:00+00:00    0.187606
2012-03-09 09:30:00+00:00    1.542915
2012-03-12 09:30:00+00:00   -0.602309
2012-03-13 09:30:00+00:00    0.124075
2012-03-14 09:30:00+00:00   -1.400168
2012-03-15 09:30:00+00:00   -0.385062
Freq: B, dtype: float64

In [134]:
ts2

2012-03-09 13:30:00+04:00    1.542915
2012-03-12 13:30:00+04:00   -0.602309
2012-03-13 13:30:00+04:00    0.124075
2012-03-14 13:30:00+04:00   -1.400168
2012-03-15 13:30:00+04:00   -0.385062
Freq: B, dtype: float64

In [135]:
ts1 + ts2

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    3.085830
2012-03-12 09:30:00+00:00   -1.204619
2012-03-13 09:30:00+00:00    0.248150
2012-03-14 09:30:00+00:00   -2.800336
2012-03-15 09:30:00+00:00   -0.770124
Freq: B, dtype: float64

In [136]:
p = pd.Period(2007, freq = 'A-DEC')

In [137]:
p

Period('2007', 'A-DEC')

In [138]:
p+5

Period('2012', 'A-DEC')

In [139]:
p-2

Period('2005', 'A-DEC')

In [140]:
pd.Period('2014'ï¼Œfreq='A-DEC') - p

SyntaxError: invalid character in identifier (<ipython-input-140-fe48fdd2052f>, line 1)

In [142]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq = 'M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [143]:
Series(np.random.randn(6), index = rng)

2000-01    0.003998
2000-02   -1.378672
2000-03   -0.862071
2000-04   -0.193862
2000-05    0.020659
2000-06    1.357870
Freq: M, dtype: float64

In [144]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq = 'Q-DEC')

In [145]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [146]:
p = pd.Period('2007', freq = 'A-DEC')
p

Period('2007', 'A-DEC')

In [147]:
p.asfreq('M', how = 'start')

Period('2007-01', 'M')

In [148]:
p.asfreq('M', how = 'end')

Period('2007-12', 'M')

In [149]:
p.asfreq('D', how = 'start')

Period('2007-01-01', 'D')

In [150]:
p.asfreq('D', how = 'end')

Period('2007-12-31', 'D')

In [151]:
Series(np.random.randn(6), index = rng)

2000-01   -1.509583
2000-02   -0.110276
2000-03   -0.515395
2000-04   -0.478249
2000-05    0.749583
2000-06    1.635375
Freq: M, dtype: float64

In [152]:
pd.period_range('2000-01', periods=6, freq = 'M')

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [153]:
pd.Period('2000-01')

Period('2000-01', 'M')

In [154]:
pd.PeriodIndex(['2000-01','2000-02'], freq = 'D')

PeriodIndex(['2000-01-01', '2000-02-01'], dtype='period[D]', freq='D')

In [155]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [156]:
pd.PeriodIndex(values, freq = 'Q-DEC')

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [157]:
pd.PeriodIndex(values, freq = 'A-Dec')

PeriodIndex(['2001', '2002', '2003'], dtype='period[A-DEC]', freq='A-DEC')

In [158]:
pd.PeriodIndex(values, freq = 'D')

PeriodIndex(['2001-07-01', '2002-04-01', '2003-01-01'], dtype='period[D]', freq='D')

In [159]:
pd.PeriodIndex(values, freq = 'M')

PeriodIndex(['2001-07', '2002-04', '2003-01'], dtype='period[M]', freq='M')

In [160]:
pd.PeriodIndex(values, freq = 'Q')

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [161]:
pd.PeriodIndex(start = '2000', end = '2010', freq = 'A')

PeriodIndex(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
             '2008', '2009', '2010'],
            dtype='period[A-DEC]', freq='A-DEC')

In [162]:
pd.period_range('2000', periods=11, freq = 'A-DEC')

PeriodIndex(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
             '2008', '2009', '2010'],
            dtype='period[A-DEC]', freq='A-DEC')

In [163]:
p = pd.Period('2007', freq = 'A-DEC')
p

Period('2007', 'A-DEC')

In [164]:
p.asfreq('M', how = 'start')

Period('2007-01', 'M')

In [165]:
p.asfreq('M', how = 'end')

Period('2007-12', 'M')

In [166]:
p = pd.Period('2007', freq = 'A-JUN')

In [167]:
#'A-%b' %b : ê¸°ì¤€ã€€íšŒê³„ë…„ë„
p

Period('2007', 'A-JUN')

In [168]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [169]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [170]:
pd.Period('Aug-2007', 'M')

Period('2007-08', 'M')

In [171]:
pd.Period('Aug-2007', 'M').asfreq('A-JUN')

Period('2008', 'A-JUN')

In [172]:
pd.Period('Aug-2007', 'M').asfreq('A-DEC')

Period('2007', 'A-DEC')

In [173]:
pd.Period('Jan-2007', 'M').asfreq('A-JUN')

Period('2007', 'A-JUN')

In [174]:
rng = pd.period_range('2006', '2009', freq = 'A-DEC')
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [175]:
pd.PeriodIndex(start= '2006', end = '2009', freq = 'A-DEC')

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [176]:
pd.DatetimeIndex(start = '2006', end = '2009', freq = 'A-JAN')

DatetimeIndex(['2006-01-31', '2007-01-31', '2008-01-31'], dtype='datetime64[ns]', freq='A-JAN')

In [177]:
pd.DatetimeIndex(start = '2006', end = '2009', freq = 'A-DEC')

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [178]:
pd.date_range(start = '2006', end = '2009', freq = 'A-DEC')

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [179]:
pd.date_range(start = '2006', end = '2009', freq = 'A-JAN')

DatetimeIndex(['2006-01-31', '2007-01-31', '2008-01-31'], dtype='datetime64[ns]', freq='A-JAN')

In [180]:
ts = Series(np.random.randn(len(rng)), index = rng)

In [181]:
ts

2006    1.053109
2007   -1.417712
2008   -0.173604
2009   -0.027519
Freq: A-DEC, dtype: float64

In [182]:
ts.asfreq('M', how = 'start')

2006-01    1.053109
2007-01   -1.417712
2008-01   -0.173604
2009-01   -0.027519
Freq: M, dtype: float64

In [183]:
ts.asfreq('B', how = 'start')

2006-01-02    1.053109
2007-01-01   -1.417712
2008-01-01   -0.173604
2009-01-01   -0.027519
Freq: B, dtype: float64

In [184]:
p = pd.Period('2012Q4', freq = 'Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [185]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [186]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [187]:

p4pm = (p.asfreq('B', 'e') - 1).asfreq('T','s') + 16*60
p4pm

Period('2012-01-30 16:00', 'T')

In [188]:
p.asfreq('B', how = 'end')

Period('2012-01-31', 'B')

In [189]:
#2nd to Bussiness Day
p.asfreq('B',how = 'end') -1

Period('2012-01-30', 'B')

In [190]:

(p.asfreq('B', how = 'end') -1).asfreq('T', 's') + 16*60

Period('2012-01-30 16:00', 'T')

In [191]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [192]:
pd.read_csv('./celebrity_deaths.csv', encoding="ISO-8859-1",)

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score
0,85,1921,natural causes,January,2006,businessman chairman of IBM (1973Â‰Ã›?981),Frank Cary,American,1.0
1,49,1957,murdered,January,2006,musician (House of Freaks Gutterball),Bryan Harvey,American,2.0
2,64,1942,Alzheimer's disease,January,2006,baseball player (Oakland Athletics),Paul Lindblad,American,1.0
3,86,1920,Alzheimer's disease,January,2006,politician Representative from Oregon (1957Â‰Ã›...,Charles O. Porter,American,2.0
4,82,1924,cancer,January,2006,nightclub owner (Tropicana Club),Ofelia Fox,Cuban,NaN
5,52,1954,stroke,January,2006,New Guinean politician Prime Minister (1997Â‰Ã›...,Sir William Skate,Papua,NaN
...,...,...,...,...,...,...,...,...,...
21452,94,1922,NaN,December,2016,college basketball coach (Army Centenary),Orvis Sigler,American,NaN
21453,70,1946,NaN,December,2016,Olympic bronze medalist (1972),Eva ÂÃŠuranovÃŒÃ,Hungarian-born,1.0
21454,70,1946,NaN,December,2016,Olympic bronze medalist (1972),Eva ÂÃŠuranovÃŒÃ,Hungarian-born,1.0
21455,70,1946,NaN,December,2016,Olympic bronze medalist (1972),Eva ÂÃŠuranovÃŒÃ,Hungarian-born,1.0
21456,70,1946,NaN,December,2016,Olympic bronze medalist (1972),Eva ÂÃŠuranovÃŒÃ,Hungarian-born,1.0
21457,70,1946,NaN,December,2016,Olympic bronze medalist (1972),Eva ÂÃŠuranovÃŒÃ,Hungarian-born,1.0

In [193]:
with open('./celebrity_deaths.csv', 'r', errors='ignore') as f:
    columns = f.readline().strip('\n').split(',')
    data = []
    for line in f.readlines():
        data.append(line.strip('\n').split(','))
    data
cel_D = DataFrame(data, columns=columns)
cel_D.head()

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score
0,85,1921,natural causes,January,2006,businessman chairman of IBM (1973?981),Frank Cary,American,1
1,49,1957,murdered,January,2006,musician (House of Freaks Gutterball),Bryan Harvey,American,2
2,64,1942,Alzheimer's disease,January,2006,baseball player (Oakland Athletics),Paul Lindblad,American,1
3,86,1920,Alzheimer's disease,January,2006,politician Representative from Oregon (1957?961),Charles O. Porter,American,2
4,82,1924,cancer,January,2006,nightclub owner (Tropicana Club),Ofelia Fox,Cuban,

In [194]:
columns = f.readline()

ValueError: I/O operation on closed file.

In [195]:
columns

['age',
 'birth_year',
 'cause_of_death',
 'death_month',
 'death_year',
 'famous_for',
 'name',
 'nationality',
 'fame_score']

In [196]:
columns = columns.split(',')

AttributeError: 'list' object has no attribute 'split'

In [197]:
data = []
for line in f.readlines():
    data.append(line.strip('\n').split(','))
data

ValueError: I/O operation on closed file.

In [198]:
import numpy as np

In [199]:
data_np = np.array(*data)

TypeError: Required argument 'object' (pos 1) not found

In [200]:
DataFrame(data, columns=columns)

Empty DataFrame
Columns: [age, birth_year, cause_of_death, death_month, death_year, famous_for, name, nationality, fame_score]
Index: []

In [201]:
rng = pd.period_range('2011Q3', '2012Q4', freq = 'Q-JAN')
ts = Series(np.arange(len(rng)),index = rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [202]:
new_rng = (rng.asfreq('B','e') -1).asfreq('T', 's') + 16*60

In [203]:
new_rng

PeriodIndex(['2010-10-28 16:00', '2011-01-28 16:00', '2011-04-28 16:00',
             '2011-07-28 16:00', '2011-10-28 16:00', '2012-01-30 16:00'],
            dtype='period[T]', freq='T')

In [204]:
ts.index = new_rng.to_timestamp()

In [205]:
ts.index

DatetimeIndex(['2010-10-28 16:00:00', '2011-01-28 16:00:00',
               '2011-04-28 16:00:00', '2011-07-28 16:00:00',
               '2011-10-28 16:00:00', '2012-01-30 16:00:00'],
              dtype='datetime64[ns]', freq=None)

In [206]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [207]:
rng = pd.date_range('1/1/2000', periods = 3, freq = 'M')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [208]:
ts = Series(randn(3), index = rng)
pts = ts.to_period()
pts

2000-01   -0.135481
2000-02    1.021290
2000-03    1.683322
Freq: M, dtype: float64

In [209]:
ts

2000-01-31   -0.135481
2000-02-29    1.021290
2000-03-31    1.683322
Freq: M, dtype: float64

In [210]:
rng = pd.date_range('1/29/2000', periods = 6, freq = 'D')
rng

DatetimeIndex(['2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03'],
              dtype='datetime64[ns]', freq='D')

In [211]:
ts2 = Series(randn(6), index= rng)

In [212]:
ts2.to_period('M')

2000-01    0.768857
2000-01   -0.185435
2000-01    0.290368
2000-02   -0.963728
2000-02    0.565596
2000-02   -0.385440
Freq: M, dtype: float64

In [213]:
pts = ts.to_period('A-DEC')
pts

2000   -0.135481
2000    1.021290
2000    1.683322
Freq: A-DEC, dtype: float64

In [214]:
pts.to_timestamp(how = 'end')

2000-12-31   -0.135481
2000-12-31    1.021290
2000-12-31    1.683322
dtype: float64

In [215]:
pts.to_timestamp(how = 'start')

2000-01-01   -0.135481
2000-01-01    1.021290
2000-01-01    1.683322
dtype: float64

In [216]:
ts2 = Series(randn(6), index = rng)

In [221]:
ts2.index

DatetimeIndex(['2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03'],
              dtype='datetime64[ns]', freq='D')

In [218]:
ts2.to_period('M')

2000-01   -0.622526
2000-01    0.921018
2000-01   -0.967562
2000-02    0.741945
2000-02   -0.737571
2000-02    0.640807
Freq: M, dtype: float64

In [222]:
pts = ts.to_period()

In [223]:
pts

2000-01   -0.135481
2000-02    1.021290
2000-03    1.683322
Freq: M, dtype: float64

In [224]:
pts.to_timestamp(how = 'end')

2000-01-31   -0.135481
2000-02-29    1.021290
2000-03-31    1.683322
Freq: M, dtype: float64

In [225]:
data = pd.read_csv('./pydata-book/ch08/macrodata.csv')

In [226]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
        ...
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [227]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
      ...
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [228]:
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
5,1960.0,2.0,2834.390,1792.9,298.152,460.400,1966.1,29.550,140.2,2.68,5.2,180.671,0.14,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,2008.0,2.0,13415.266,9351.0,2026.518,961.280,10059.0,218.610,1409.3,1.74,5.4,304.483,8.53,-6.79
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [229]:
index = pd.PeriodIndex(year = data.year, quarter = data.quarter, freq = 'Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [283]:
data.index = index

data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
          ...
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [ ]:
g