In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(123)

plt.rc('figure', figsize = (10,6))

from pandas import Series, DataFrame

import pandas as pd

np.set_printoptions(precision = 4)

In [2]:
%matplotlib inline

In [3]:
%pwd

'/home/june/Pydata'

In [4]:
%pylab

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [5]:
data = pd.read_csv('./pydata-book/ch08/Haiti.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3593 entries, 0 to 3592
Data columns (total 10 columns):
Serial            3593 non-null int64
INCIDENT TITLE    3593 non-null object
INCIDENT DATE     3593 non-null object
LOCATION          3592 non-null object
DESCRIPTION       3593 non-null object
CATEGORY          3587 non-null object
LATITUDE          3593 non-null float64
LONGITUDE         3593 non-null float64
APPROVED          3593 non-null object
VERIFIED          3593 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 280.8+ KB

In [6]:
obj = Series(range(10, 0, -1), index = ['b','c','d','a','e']*2)

In [7]:
obj.sort_index()

a     7
a     2
b    10
b     5
c     9
c     4
d     8
d     3
e     6
e     1
dtype: int64

In [8]:
obj.sort_values()

e     1
a     2
d     3
c     4
b     5
e     6
a     7
d     8
c     9
b    10
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3593 entries, 0 to 3592
Data columns (total 10 columns):
Serial            3593 non-null int64
INCIDENT TITLE    3593 non-null object
INCIDENT DATE     3593 non-null object
LOCATION          3592 non-null object
DESCRIPTION       3593 non-null object
CATEGORY          3587 non-null object
LATITUDE          3593 non-null float64
LONGITUDE         3593 non-null float64
APPROVED          3593 non-null object
VERIFIED          3593 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 280.8+ KB

In [10]:
data.head()

,Serial,INCIDENT TITLE,INCIDENT DATE,LOCATION,DESCRIPTION,CATEGORY,LATITUDE,LONGITUDE,APPROVED,VERIFIED
0,4052,* URGENT * Type O blood donations needed in #J...,05/07/2010 17:26,"Jacmel, Haiti",Birthing Clinic in Jacmel #Haiti urgently need...,"1. Urgences | Emergency, 3. Public Health,",18.233333,-72.533333,YES,NO
1,4051,"Food-Aid sent to Fondwa, Haiti",28/06/2010 23:06,fondwa,Please help food-aid.org deliver more food to ...,"1. Urgences | Emergency, 2. Urgences logistiqu...",50.226029,5.729886,NO,NO
2,4050,how haiti is right now and how it was during t...,24/06/2010 16:21,centrie,i feel so bad for you i know i am supposed to ...,"2. Urgences logistiques | Vital Lines, 8. Autr...",22.278381,114.174287,NO,NO
3,4049,Lost person,20/06/2010 21:59,Genoca,We are family members of Juan Antonio Zuniga O...,"1. Urgences | Emergency,",44.407062,8.933989,NO,NO
4,4042,Citi Soleil school,18/05/2010 16:26,"Citi Soleil, Haiti",We are working with Haitian (NGO) -The Christi...,"1. Urgences | Emergency,",18.571084,-72.334671,YES,NO

In [11]:
data[['INCIDENT DATE', 'LATITUDE', 'LONGITUDE']][:10]

      INCIDENT DATE   LATITUDE   LONGITUDE
0  05/07/2010 17:26  18.233333  -72.533333
1  28/06/2010 23:06  50.226029    5.729886
2  24/06/2010 16:21  22.278381  114.174287
3  20/06/2010 21:59  44.407062    8.933989
4  18/05/2010 16:26  18.571084  -72.334671
5  26/04/2010 13:14  18.593707  -72.310079
6  26/04/2010 14:19  18.482800  -73.638800
7  26/04/2010 14:27  18.415000  -73.195000
8  15/03/2010 10:58  18.517443  -72.236841
9  15/03/2010 11:00  18.547790  -72.410010

In [12]:
data['CATEGORY'][:6]

0          1. Urgences | Emergency, 3. Public Health,
1    1. Urgences | Emergency, 2. Urgences logistiqu...
2    2. Urgences logistiques | Vital Lines, 8. Autr...
3                            1. Urgences | Emergency,
4                            1. Urgences | Emergency,
5                       5e. Communication lines down,
Name: CATEGORY, dtype: object

In [13]:
data.describe()

            Serial     LATITUDE    LONGITUDE
count  3593.000000  3593.000000  3593.000000
mean   2080.277484    18.611495   -72.322680
std    1171.100360     0.738572     3.650776
min       4.000000    18.041313   -74.452757
25%    1074.000000    18.524070   -72.417500
50%    2163.000000    18.539269   -72.335000
75%    3088.000000    18.561820   -72.293570
max    4052.000000    50.226029   114.174287

In [14]:
data_haitionly = data[(data.LATITUDE > 18) & (data.LATITUDE <20) &
           (data.LONGITUDE >-75) & (data.LONGITUDE < -70)
           & data.CATEGORY.notnull()]

In [15]:
data_haitionly.CATEGORY.isnull().sum()

0

In [16]:
data_haitionly.CATEGORY.isnull().sum()

0

In [17]:
data_haitionly.CATEGORY[(data.LATITUDE > 18) & (data.LATITUDE <20) &
           (data.LONGITUDE >-75) & (data.LONGITUDE < -70)].notnull().sum()

3569

In [18]:
data_haitionly.notnull().sum()

Serial            3569
INCIDENT TITLE    3569
INCIDENT DATE     3569
LOCATION          3568
DESCRIPTION       3569
CATEGORY          3569
LATITUDE          3569
LONGITUDE         3569
APPROVED          3569
VERIFIED          3569
dtype: int64

In [19]:
data_haitionly.CATEGORY[-((data.LATITUDE > 18) & (data.LATITUDE <20) &
           (data.LONGITUDE >-75) & (data.LONGITUDE < -70))].head(10)

Series([], Name: CATEGORY, dtype: object)

In [20]:
def to_cat_list(catstr):
    stripped = (x.strip() for x in catstr.split(','))
    return [x for x in stripped if x]

def get_all_categories(cat_series):
    cat_sets = (set(to_cat_list(x)) for x in cat_series)
    return set.union(*cat_sets)

def get_english(cat):
    code, names = cat.split('.')
    if '|' in names:
        names = names.split('|')[1]
    return code, names.strip()

In [21]:
get_english('2. Urgences logistiques | Vital Lines')

('2', 'Vital Lines')

In [22]:
data_haitionly.CATEGORY.head()

0          1. Urgences | Emergency, 3. Public Health,
4                            1. Urgences | Emergency,
5                       5e. Communication lines down,
6    4. Menaces | Security Threats, 4e. Assainissem...
7                      4. Menaces | Security Threats,
Name: CATEGORY, dtype: object

In [23]:
all_cats = get_all_categories(data_haitionly.CATEGORY)

In [24]:
print (data.CATEGORY[1])
to_cat_list(data.CATEGORY[1])

1. Urgences | Emergency, 2. Urgences logistiques | Vital Lines,

['1. Urgences | Emergency', '2. Urgences logistiques | Vital Lines']

In [25]:
english_mapping = dict(get_english(x) for x in all_cats)
english_mapping['2a']

'Food Shortage'

In [26]:
english_mapping['6c']

'Asking to forward a message'

In [27]:
def get_code(seq):
    return [x.split('.')[0] for x in seq if x]

In [28]:
all_codes = get_code(all_cats)

In [29]:
code_index = pd.Index(np.unique(all_codes))

In [30]:
np.unique(all_codes)

array(['1', '1a', '1b', '1c', '1d', '2', '2a', '2b', '2c', '2d', '2e',
       '2f', '3', '3a', '3b', '3c', '3d', '3e', '4', '4a', '4c', '4e', '5',
       '5a', '5b', '5c', '5d', '5e', '6', '6a', '6b', '6c', '7', '7a',
       '7b', '7c', '7d', '7g', '7h', '8', '8a', '8c', '8d', '8e', '8f'],
      dtype='<U2')

In [31]:
np.unique(list(english_mapping.keys()))

array(['1', '1a', '1b', '1c', '1d', '2', '2a', '2b', '2c', '2d', '2e',
       '2f', '3', '3a', '3b', '3c', '3d', '3e', '4', '4a', '4c', '4e', '5',
       '5a', '5b', '5c', '5d', '5e', '6', '6a', '6b', '6c', '7', '7a',
       '7b', '7c', '7d', '7g', '7h', '8', '8a', '8c', '8d', '8e', '8f'],
      dtype='<U2')

In [32]:
dummy_frame = DataFrame(np.zeros((len(data_haitionly), len(code_index))), index=data_haitionly.index, columns=code_index)

In [33]:
dummy_frame.head()

,1,1a,1b,1c,1d,2,2a,2b,2c,2d,...,7c,7d,7g,7h,8,8a,8c,8d,8e,8f
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
dummy_frame.iloc[:, :6].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3569 entries, 0 to 3592
Data columns (total 6 columns):
1     3569 non-null float64
1a    3569 non-null float64
1b    3569 non-null float64
1c    3569 non-null float64
1d    3569 non-null float64
2     3569 non-null float64
dtypes: float64(6)
memory usage: 195.2 KB

In [35]:
for row, cat in zip(data_haitionly.index, data_haitionly.CATEGORY):
    codes = get_code(to_cat_list(cat))
    dummy_frame.loc[row, codes] = 1

In [36]:
dummy_frame.head()

,1,1a,1b,1c,1d,2,2a,2b,2c,2d,...,7c,7d,7g,7h,8,8a,8c,8d,8e,8f
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
data_haitionly = data_haitionly.join(dummy_frame.add_prefix('category_'))

In [38]:
data_haitionly.head()

,Serial,INCIDENT TITLE,INCIDENT DATE,LOCATION,DESCRIPTION,CATEGORY,LATITUDE,LONGITUDE,APPROVED,VERIFIED,...,category_7c,category_7d,category_7g,category_7h,category_8,category_8a,category_8c,category_8d,category_8e,category_8f
0,4052,* URGENT * Type O blood donations needed in #J...,05/07/2010 17:26,"Jacmel, Haiti",Birthing Clinic in Jacmel #Haiti urgently need...,"1. Urgences | Emergency, 3. Public Health,",18.233333,-72.533333,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4042,Citi Soleil school,18/05/2010 16:26,"Citi Soleil, Haiti",We are working with Haitian (NGO) -The Christi...,"1. Urgences | Emergency,",18.571084,-72.334671,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4041,Radio Commerce in Sarthe,26/04/2010 13:14,"Radio Commerce Shelter, Sarthe",i'm Louinel from Sarthe. I'd to know what can ...,"5e. Communication lines down,",18.593707,-72.310079,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4040,Contaminated water in Baraderes.,26/04/2010 14:19,Marc near Baraderes,How do we treat water in areas without Pipe?\t...,"4. Menaces | Security Threats, 4e. Assainissem...",18.482800,-73.638800,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,4039,Violence at &quot;arcahaie bas Saint-Ard&quot;,26/04/2010 14:27,unable to find &quot;arcahaie bas Saint-Ard&qu...,Goodnight at (arcahaie bas Saint-Ard) 2 young ...,"4. Menaces | Security Threats,",18.415000,-73.195000,YES,NO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
#conda install -c anaconda basemap=1.0.7 -y
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

def basic_haiti_map(ax=None, lllat=17.25, urlat=20.25,
                    lllon=-75, urlon=-71):
    # create polar stereographic Basemap instance.
    m = Basemap(ax=ax, projection='stere',
                lon_0=(urlon + lllon) / 2,
                lat_0=(urlat + lllat) / 2,
                llcrnrlat=lllat, urcrnrlat=urlat,
                llcrnrlon=lllon, urcrnrlon=urlon,
                resolution='f')
    # draw coastlines, state and country boundaries, edge of map.
    m.drawcoastlines()
    m.drawstates()
    m.drawcountries()
    return m

In [55]:
fig, axes = plt.subplots(nrows = 2, ncols = 2, figsize=(12,10))
fig.subplots_adjust(hspace=0.05, wspace = 0.05)

to_plot = ['2a', '1', '3c', '7a']

lllat = 17.25; urlat = 20.25; lllon = -75; urlon=-71

In [56]:
for code, ax in zip(to_plot, axes.flat):
    m = basic_haiti_map(ax, lllat=lllat, urlat=urlat,
                       lllon = lllon, urlon = urlon)
    
    cat_data = data_haitionly[data_haitionly['category_%s' % code] == 1]
    
    #compute map_proj coordinates.
    x, y = m(cat_data.LONGITUDE.values, cat_data.LATITUDE.values)
    #print (x.head(), y.head())
    m.plot(x, y, 'k.', alpha = 0.5)
    ax.set_title('{code} : {eng}'.format(code=code, eng=english_mapping[code]))

/home/june/anaconda3/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3260: MatplotlibDeprecationWarning: The ishold function was deprecated in version 2.0.
  b = ax.ishold()
/home/june/anaconda3/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3269: MatplotlibDeprecationWarning: axes.hold is deprecated.
    See the API Changes document (http://matplotlib.org/api/api_changes.html)
    for more details.
  ax.hold(b)

In [51]:
Series(english_mapping)[to_plot]

2a                         Food Shortage
1                              Emergency
3c    Medical equipment and supply needs
7a               Food distribution point
dtype: object

In [50]:
to_plot

['2a', '1', '3c', '7a']

In [59]:
shapefile_path = './pydata-book/ch08/PortAuPrince_Roads/PortAuPrince_Roads'
m.readshapefile(shapefile_path, 'roads')

(1583,
 3,
 [-72.749246, 18.409952, 0.0, 0.0],
 [-71.973789, 18.7147105, 0.0, 0.0],
 <matplotlib.collections.LineCollection at 0x7f3c82169cc0>)

In [58]:
plt.show()

In [62]:
for ax in axes.flat: #풀어서 펼침.
    print (ax)

Axes(0.125,0.516131;0.378049x0.359445)
Axes(0.521951,0.516131;0.378049x0.359445)
Axes(0.125,0.129424;0.378049x0.359445)
Axes(0.521951,0.129424;0.378049x0.359445)

In [63]:
for ax in axes:
    print (ax)

[<matplotlib.axes._subplots.AxesSubplot object at 0x7f3c8322c390>
 <matplotlib.axes._subplots.AxesSubplot object at 0x7f3c8244c0b8>]
[<matplotlib.axes._subplots.AxesSubplot object at 0x7f3c82a7e198>
 <matplotlib.axes._subplots.AxesSubplot object at 0x7f3c829ef828>]

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f3c8322c390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f3c8244c0b8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f3c82a7e198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f3c829ef828>]], dtype=object)