In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

%matplotlib inline

%pwd

'D:\\Users\\JunyoungSon\\Documents\\Pydata'

In [2]:
close_px = pd.read_csv('./pydata-book/pydata-book/ch11/stock_px.csv', parse_dates=True, index_col=0)
volume = pd.read_csv('./pydata-book/pydata-book/ch11/volume.csv', parse_dates=True, index_col=0)
prices = close_px.loc['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.loc['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [3]:
close_px.head()

              AA  AAPL    GE    IBM   JNJ  MSFT   PEP     SPX   XOM
1990-02-01  4.98  7.86  2.87  16.79  4.27  0.51  6.04  328.79  6.12
1990-02-02  5.04  8.00  2.87  16.89  4.37  0.51  6.09  330.92  6.24
1990-02-05  5.07  8.18  2.87  17.32  4.34  0.51  6.05  331.85  6.25
1990-02-06  5.01  8.12  2.88  17.56  4.32  0.51  6.15  329.66  6.23
1990-02-07  5.04  7.77  2.91  17.93  4.38  0.51  6.17  333.75  6.33

In [4]:
volume.head()

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

### Volume weighted average prices.
#### multiplification by datetime stamp

In [5]:
prices*volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

In [6]:
vwap = (prices * volume).sum() / volume.sum()
vwap

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [7]:
vwap.dropna()

AAPL    380.655181
JNJ      64.394769
XOM      72.024288
dtype: float64

### align. two different dataframe by specified joining method.('Inner')


```python
DataFrame.align(D2, join = 'inner')
```

`return aligned tuples of each Dataframes`

In [8]:
prices.align(volume, join = 'inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                   AAPL         JNJ         XOM
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0)

In [9]:
s1 = Series(range(3), index = ['a', 'b', 'c'])
s2 = Series(range(4), index = ['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

### Time Series of different frequencies.

In [10]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    2.339487
2012-06-20    1.137808
2012-06-27    1.120575
Freq: W-WED, dtype: float64

In [11]:
ts1.resample('B')

DatetimeIndexResampler [freq=<BusinessDay>, axis=0, closed=left, label=left, convention=start, base=0]

In [12]:
ts1

2012-06-13    2.339487
2012-06-20    1.137808
2012-06-27    1.120575
Freq: W-WED, dtype: float64

### Deprecation, fill_method => .ffill()
### .bfill()
### .mean()
### .median()
### .quantile()..
`resample('B', fill_method = 'ffill') -> resample('B').ffill()`

In [13]:
ts1 = ts1.resample('B').ffill()

In [14]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                          '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12    0.281228
2012-06-17    0.458890
2012-06-18    1.184515
2012-06-21    0.331909
2012-06-22   -0.132460
2012-06-29   -0.109184
dtype: float64

In [15]:
ts1

2012-06-13    2.339487
2012-06-14    2.339487
2012-06-15    2.339487
2012-06-18    2.339487
2012-06-19    2.339487
2012-06-20    1.137808
2012-06-21    1.137808
2012-06-22    1.137808
2012-06-25    1.137808
2012-06-26    1.137808
2012-06-27    1.120575
Freq: B, dtype: float64

In [16]:
ts1 = ts1.resample('B').ffill()

In [17]:
ts1.reindex(ts2.index).ffill()

2012-06-12         NaN
2012-06-17         NaN
2012-06-18    2.339487
2012-06-21    1.137808
2012-06-22    1.137808
2012-06-29    1.137808
dtype: float64

In [18]:
ts2 + ts1.reindex(ts2.index).ffill()

2012-06-12         NaN
2012-06-17         NaN
2012-06-18    3.524002
2012-06-21    1.469718
2012-06-22    1.005348
2012-06-29    1.028624
dtype: float64

### REINDEX D1 with D2.index
#### Iregular index.
D1.reindex(D2.index, method = 'ffill')

In [19]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [20]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [21]:
infl_q = infl.asfreq('Q-SEP', how = 'end')

In [22]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [23]:
infl_q.reindex(gdp.index, method = 'ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [24]:
# Make an intraday date range and time series
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')

In [25]:
rng + pd.offsets.BDay(1)

DatetimeIndex(['2012-06-04 09:30:00', '2012-06-04 09:31:00',
               '2012-06-04 09:32:00', '2012-06-04 09:33:00',
               '2012-06-04 09:34:00', '2012-06-04 09:35:00',
               '2012-06-04 09:36:00', '2012-06-04 09:37:00',
               '2012-06-04 09:38:00', '2012-06-04 09:39:00',
               ...
               '2012-06-04 15:50:00', '2012-06-04 15:51:00',
               '2012-06-04 15:52:00', '2012-06-04 15:53:00',
               '2012-06-04 15:54:00', '2012-06-04 15:55:00',
               '2012-06-04 15:56:00', '2012-06-04 15:57:00',
               '2012-06-04 15:58:00', '2012-06-04 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [26]:
rng + pd.offsets.DateOffset(3)

DatetimeIndex(['2012-06-04 09:30:00', '2012-06-04 09:31:00',
               '2012-06-04 09:32:00', '2012-06-04 09:33:00',
               '2012-06-04 09:34:00', '2012-06-04 09:35:00',
               '2012-06-04 09:36:00', '2012-06-04 09:37:00',
               '2012-06-04 09:38:00', '2012-06-04 09:39:00',
               ...
               '2012-06-04 15:50:00', '2012-06-04 15:51:00',
               '2012-06-04 15:52:00', '2012-06-04 15:53:00',
               '2012-06-04 15:54:00', '2012-06-04 15:55:00',
               '2012-06-04 15:56:00', '2012-06-04 15:57:00',
               '2012-06-04 15:58:00', '2012-06-04 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [27]:
rng + pd.offsets.Day(3)

DatetimeIndex(['2012-06-04 09:30:00', '2012-06-04 09:31:00',
               '2012-06-04 09:32:00', '2012-06-04 09:33:00',
               '2012-06-04 09:34:00', '2012-06-04 09:35:00',
               '2012-06-04 09:36:00', '2012-06-04 09:37:00',
               '2012-06-04 09:38:00', '2012-06-04 09:39:00',
               ...
               '2012-06-04 15:50:00', '2012-06-04 15:51:00',
               '2012-06-04 15:52:00', '2012-06-04 15:53:00',
               '2012-06-04 15:54:00', '2012-06-04 15:55:00',
               '2012-06-04 15:56:00', '2012-06-04 15:57:00',
               '2012-06-04 15:58:00', '2012-06-04 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [28]:
# Make a 5-day series of 9:30-15:59 values
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [29]:
from datetime import time
ts[time(10,0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [30]:
ts.at_time(time(10,0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [31]:
ts.between_time(time(10,0), time(10,1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [32]:
np.random.seed(12346)

In [33]:
indexer = np.sort(np.random.permutation(len(ts))[700:])

In [34]:
irr_ts = ts.copy()

In [35]:
irr_ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [36]:
irr_ts[indexer] = np.nan
irr_ts
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00    20.0
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00    23.0
2012-06-01 09:54:00     NaN
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [37]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')

### asof.
#### At the time or Most recent available time.

In [38]:
irr_ts.asof(selection)

2012-06-01 10:00:00      25.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1197.0
Freq: B, dtype: float64

In [39]:
irr_ts[irr_ts.isin(irr_ts.asof(selection))]

2012-06-01 09:55:00      25.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 09:57:00    1197.0
dtype: float64

In [40]:
irr_ts.at_time(time(10,0))

2012-06-01 10:00:00      NaN
2012-06-04 10:00:00    420.0
2012-06-05 10:00:00    810.0
2012-06-06 10:00:00      NaN
dtype: float64

In [41]:
irr_ts[:'2012-06-01 10:00:00']

2012-06-01 09:30:00     0.0
2012-06-01 09:31:00     NaN
2012-06-01 09:32:00     NaN
2012-06-01 09:33:00     3.0
2012-06-01 09:34:00     NaN
2012-06-01 09:35:00     5.0
                       ...
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
Length: 31, dtype: float64

In [42]:
irr_ts[irr_ts == 25.0]

2012-06-01 09:55:00    25.0
dtype: float64

In [43]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/12/2012', periods=6))
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/13/2012', periods=6))
data1, data2

(              a    b    c
 2012-06-12  1.0  1.0  1.0
 2012-06-13  1.0  1.0  1.0
 2012-06-14  1.0  1.0  1.0
 2012-06-15  1.0  1.0  1.0
 2012-06-16  1.0  1.0  1.0
 2012-06-17  1.0  1.0  1.0,               a    b    c
 2012-06-13  2.0  2.0  2.0
 2012-06-14  2.0  2.0  2.0
 2012-06-15  2.0  2.0  2.0
 2012-06-16  2.0  2.0  2.0
 2012-06-17  2.0  2.0  2.0
 2012-06-18  2.0  2.0  2.0)

In [44]:
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc[:'2012-06-15']])

spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-13  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0

In [45]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('6/13/2012', periods=6))
spliced = pd.concat([data1.loc[:'2012-06-14'], data2.loc['2012-06-15':]])
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [46]:
spliced_filled = spliced.combine_first(data2)

In [47]:
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [48]:
spliced.update(data2, overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [49]:
cp_spliced = spliced.copy()
cp_spliced[['a','c']] = data1[['a','c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

In [51]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.4.0-py2.py3-none-any.whl (69kB)
Requirement already satisfied: pandas>=0.17.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: requests>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Collecting requests-file (from pandas_datareader)
  Downloading requests-file-1.4.2.tar.gz
Collecting requests-ftp (from pandas_datareader)
  Downloading requests-ftp-0.3.1.tar.gz
Requirement already satisfied: python-dateutil>=2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from requests-file->pandas_datareader)
Building wheels for collected packages: requests-file, requests-ftp
  Running setup.py bdist_wheel for requests-file: started
  Running setup.py bdist_wheel for requests-file: finished with status 'done'
  Stored in directory: C:\Users\JunyoungSon\AppData\Local\pip\Cache\wheels\3e\34\3a\c2e634ca7b545510c1b3b7d94dea084e5fdb5f33558f3c3a81
  Running setup.py bdist_wheel for requests-ftp: started
  Running setup.py bdist_wheel for requests-ftp: finished with status 'done'
  Stored in directory: C:\Users\JunyoungSon\AppData\Local\pip\Cache\wheels\76\fb\0d\1026eb562c34a4982dc9d39c9c582a734eefe7f0455f711deb
Successfully built requests-file requests-ftp
Installing collected packages: requests-file, requests-ftp, pandas-datareader
Successfully installed pandas-datareader-0.4.0 requests-file-1.4.2 requests-ftp-0.3.1

In [52]:
#from pandas_datareader import web
import pandas_datareader as web

price = web.get_data_google('AAPL','2011-01-01')['Close']

In [53]:
price[-5:]

Date
2017-07-17    149.56
2017-07-18    150.08
2017-07-19    151.02
2017-07-20    150.34
2017-07-21    150.27
Name: Close, dtype: float64

In [54]:
price['2011-10-03'] / price['2011-3-01'] -1

0.072344689378757598

In [55]:
returns = price.pct_change()
returns

Date
2011-01-03         NaN
2011-01-04    0.005310
2011-01-05    0.008029
2011-01-06   -0.000629
2011-01-07    0.007131
2011-01-10    0.018742
                ...
2017-07-14    0.008594
2017-07-17    0.003489
2017-07-18    0.003477
2017-07-19    0.006263
2017-07-20   -0.004503
2017-07-21   -0.000466
Name: Close, Length: 1649, dtype: float64

In [56]:
ret_index = (1 + returns).cumprod()

ret_index

Date
2011-01-03         NaN
2011-01-04    1.005310
2011-01-05    1.013381
2011-01-06    1.012744
2011-01-07    1.019966
2011-01-10    1.039082
                ...
2017-07-14    3.165675
2017-07-17    3.176720
2017-07-18    3.187766
2017-07-19    3.207732
2017-07-20    3.193288
2017-07-21    3.191801
Name: Close, Length: 1649, dtype: float64

## Resample returns into Bussiness Monthly
### revert into return rate
### resample('BM').last().pct_change()

In [57]:
ret_index[0] = 1

m_returns = ret_index.resample('BM').last().pct_change()

In [58]:
m_returns

Date
2011-01-31         NaN
2011-02-28    0.041056
2011-03-31   -0.013278
2011-04-29    0.004619
2011-05-31   -0.006597
2011-06-30   -0.035017
                ...
2017-02-28    0.128883
2017-03-31    0.048690
2017-04-28   -0.000070
2017-05-31    0.063418
2017-06-30   -0.057214
2017-07-31    0.043397
Freq: BM, Name: Close, Length: 79, dtype: float64

In [59]:
m_returns['2012']

Date
2012-01-31    0.127031
2012-02-29    0.188315
2012-03-30    0.105304
2012-04-30   -0.025919
2012-05-31   -0.010787
2012-06-29    0.010905
2012-07-31    0.045787
2012-08-31    0.089169
2012-09-28    0.002841
2012-10-31   -0.107555
2012-11-30   -0.016931
2012-12-31   -0.090779
Freq: BM, Name: Close, dtype: float64

In [60]:
m_rets = (1 + returns).resample('M', kind = 'period').prod() - 1
m_rets['2012']

Date
2012-01    0.127031
2012-02    0.188315
2012-03    0.105304
2012-04   -0.025919
2012-05   -0.010787
2012-06    0.010905
2012-07    0.045787
2012-08    0.089169
2012-09    0.002841
2012-10   -0.107555
2012-11   -0.016931
2012-12   -0.090779
Freq: M, Name: Close, dtype: float64

In [61]:
returns[dividend_dates] += dividend_pcts

NameError: name 'dividend_dates' is not defined

In [62]:
import random; random.seed(0)
import string

In [63]:
N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])

tickers = np.array([rands(5) for _ in range(N)])
tickers

array(['MYNBI', 'QPMZJ', 'PLSGQ', 'EJEYD', 'TZIRW', 'ZTEJD', 'XCVKP',
       'RDLNK', 'TUGRP', 'OQIBZ', 'RACXM', 'WZVUA', 'TPKHX', 'KWCGS',
       'HHZEZ', 'ROCCK', 'QPDJR', 'JWDRK', 'RGZTR', 'SJOCT', 'ZMKSH',
       'JFGFB', 'TVIPC', 'CVYEE', 'BCWRV', 'MWQIQ', 'ZHGVS', 'NSIOP',
       'VUWZL', 'CKTDP', 'SUKGH', 'AXIDW', 'HLZFK', 'NBDZE', 'WHBSU',
       'RTVCA', 'DUGTS', 'DMCLD', 'BTAGF', 'WDPGX', 'ZBVAR', 'NTDIC',
       'HCUJL', 'NFBQO', 'BTDWM', 'GILXP', 'SFWVG', 'YBZVF', 'FKQID',
       'TOVFA', 'PVNSQ', 'JULMV', 'IERWA', 'OXCKX', 'BRIEH', 'YPLTJ',
       'VLSUT', 'EWJMX', 'NUCAT', 'GWKFH', 'HUOMW', 'VSNBM', 'WSNYV',
       'WBFOC', 'IWFOQ', 'PRTYA', 'BPKJO', 'BZZNG', 'RUCXE', 'AMVNK',
       'AGAWY', 'AVQTD', 'GDTUG', 'JIWFD', 'PMUCA', 'IOZZD', 'IEUQU',
       'ULDEI', 'ABBGV', 'IRKLS', 'BXWTU', 'PWUOU', 'NLRFG', 'MSJAE',
       'EIKKZ', 'LWCKY', 'TBBIF', 'ESJLM', 'REJDP', 'XHBJF', 'QXCJM',
       'KJNDD', 'RPPKZ', 'ZKDPD', 'WPNBJ', 'KXVEF', 'USMZU', 'CCZCG',
       'XHBMA', 'DMRQJ', 'OPZSW', 'VGNCL', 'HISYF', 'NGLDC', 'WAQOY',
       'VGDPM', 'IGUBZ', 'GTEDG', 'OMLRE', 'DTPES', 'MUVNQ', 'PVKPP',
       'UVGRT', 'HAKWX', 'KKBQE', 'ITZEM', 'SJWWZ', 'PCZCQ', 'BCHEB',
       'JAYOK', 'FZEUO', 'LQMQQ', 'BSCVZ', 'ZQYTC', 'XNYGJ', 'RTNPZ',
       'MTSHZ', 'AVAXF', 'JQSIK', 'CPIJY', 'NMZMB', 'FUEHJ', 'XKBBP',
       'NEPTW', 'CVWEZ', 'LNBTO', 'MOBDP', 'YEABT', 'TEUKD', 'WRULG',
       'MZYYP', 'DBTWO', 'TUKUD', 'VWTJZ', 'EMZJX', 'VZDQZ', 'GBZMO',
       'LYGOL', 'ZUCBB', 'PIAQV', 'SSGHC', 'YUYQW', 'QNQJD', 'ENSNC',
       'DNCDN', 'YEXAZ', 'ONVNA', 'PKXIC', 'LCDLW', 'ALLFA', 'HLCTE',
       'GAGVV', 'XDXAJ', 'LWATH', 'EFODP', 'LWIEA', 'GLKPJ', 'JRUKF',
       'SCDRS', 'JFMEE', 'ZHKQH', 'HYFJL', 'NVBET', 'AMCWC', 'ENJRN',
       'XESNJ', 'ULCHO', 'ULUQB', 'MNANX', 'KOGLJ', 'PCFZD', 'IDRTW',
       'EZWOM', 'FYNNF', 'HOKQE', 'LOUUC', 'PYGJA', 'WOTOA', 'GJDYU',
       'JRTEN', 'WYPCV', 'PYHRY', 'MIUAD', 'IVBAI', 'MQSWM', 'ODXIL',
       'JYVGT', 'CBCZI', 'JRKDQ', 'HYFCN', 'JJQES', 'QUGRD', 'NURMX',
       'YZIJO', 'LSUEF', 'DWDMM', 'SOERV', 'JLUPX', 'NGPPW', 'QKPUB',
       'OJEXP', 'BTGAL', 'PMAQC', 'VCVXV', 'MALBD', 'TAIUW', 'JXHEY',
       'SJGDN', 'OWKMF', 'KNUVN', 'EOWEQ', 'KEGFO', 'LZMNZ', 'PMXHZ',
       'GOGSW', 'BMBHU', 'CFLBX', 'UVFHT', 'JTCWQ', 'YJYLN', 'OBUWQ',
       'VURXN', 'SOPIW', 'PGKIB', 'BBFLA', 'JUAEC', 'ZNVHT', 'MRHOG',
       'KTDTC', 'ZKKRO', 'KIAQB', 'GLCGQ', 'LGGIV', 'XXJJQ', 'MIPLW',
       'HBJRC', 'AOPXO', 'BZNPO', 'ODCCH', 'DYENG', 'OTCNR', 'YMBFH',
       'PHEIL', 'KNDRJ', 'TRZGW', 'JYOQT', 'ORUII', 'HADTZ', 'WDFXN',
       'HGJXV', 'AXRQN', 'BDMUI', 'DXSLH', 'VWWRV', 'JHXHC', 'QJVKH',
       'LUPJS', 'FEZAR', 'QKLSU', 'AZEME', 'FQCEY', 'GZYPS', 'YWGHX',
       'EHYML', 'TSEUP', 'DTAQT', 'LPOJA', 'HRUFV', 'PZXPR', 'KWCIE',
       'TMWGK', 'ZJMBG', 'BKXXH', 'KOVXV', 'VHILV', 'FJALS', 'RBXUE',
       'LAPUB', 'AHBAH', 'UKCBL', 'VNEGO', 'NELJF', 'UKXZX', 'NMANI',
       'RRZXV', 'WOYBS', 'DNMFA', 'QETVQ', 'XWECK', 'HFHAZ', 'FXZVR',
       'FWCNT', 'DTUOW', 'ETTBI', 'KZXXM', 'AUBPC', 'LJVEO', 'HQLFX',
       'YMKIZ', 'PMAJQ', 'JRPBY', 'RSRIV', 'BOMXD', 'MLPBA', 'IXBIV',
       'VSWYJ', 'VYGYQ', 'QKMIG', 'DSKZH', 'SVXRV', 'LFEKX', 'ASBSE',
       'LLJUJ', 'KPZMT', 'NFAZE', 'SBOEK', 'AXPVV', 'YIXTG', 'CRNIF',
       'QFCVU', 'FSDQU', 'ZRTMY', 'NIJJA', 'NYWII', 'RQRKK', 'GWZNZ',
       'EAYQE', 'ZVWZS', 'MLOBR', 'NUTZZ', 'YHALQ', 'FVGUL', 'UWPAX',
       'XHSHI', 'FYNCS', 'OHXWO', 'QZZWD', 'GFOCN', 'UMIIN', 'YYLTK',
       'CJAPA', 'YIGYM', 'MNYUU', 'VMWBS', 'OLSES', 'WIKAM', 'PQEBC',
       'SLLAC', 'GWDVR', 'PBKAK', 'MEYUI', 'NVETE', 'MJQBF', 'EEPWU',
       'WYXBX', 'QBRWX', 'WUMFL', 'ZSCCR', 'FIGZI', 'KWWIZ', 'IQOEY',
       'OREBU', 'SFUQB', 'YKCGU', 'ZOTHZ', 'OQFWK', 'UEPYR', 'BRCQK',
       'AYCDN', 'TLSOK', 'MQLUD', 'EKAFX', 'EAKTG', 'BNUBW', 'JZMBT',
       'YZWFL', 'CNBOL', 'TTYIV', 'JSZON', 'FAOZI', 'GMCLD', 'DALAF',
       'MTWUA', 'KOZRX', 'WPPCB', 'RMZZI', 'AUQDC', 'KLDPB', 'EQUZJ',
       'BAMKF', 'RWEFF', 'YFUVH', 'TKAPU', 'VMBHH', 'UJKFH', 'LHFNO',
       'LSEMS', 'YAFSA', 'VMWZF', 'EAAKQ', 'ABBYD', 'STEYE', 'VZMZA',
       'NNSVK', 'WHELQ', 'GRMCE', 'NSVLD', 'NNHPM', 'HMHUP', 'MSCII',
       'QLRAT', 'TYPHI', 'BTKZM', 'UDRBE', 'WMAYN', 'XMNDW', 'OTOFF',
       'KPNFS', 'JYQDL', 'LEULY', 'PUQYB', 'GIFXS', 'KJMUB', 'JRNBV',
       'NIMXG', 'LEEDT', 'LFANS', 'MOCUW', 'WVCYN', 'RXREF', 'EGFHA',
       'QEPLT', 'XJWZK', 'VDZNY', 'IFKUQ', 'KRWEM', 'XXRJH', 'MLMPQ',
       'JNNDV', 'EEAST', 'UWQDW', 'YUWGT', 'UTQDI', 'WXTFM', 'CZBAD',
       'LXPKD', 'VOLSW', 'IVPZY', 'HFRRC', 'YQFAU', 'FQNTV', 'GOWVM',
       'IASEM', 'FOSBM', 'ZCUSM', 'KHQOB', 'PTDIQ', 'PRUMP', 'IFHRL',
       'FJTEO', 'CCPMS', 'NRCIP', 'HDJEL', 'ZDEVB', 'VESRG', 'ABMRW',
       'YTPWW', 'DPRLY', 'KDVAH', 'HPJIH', 'APLQK', 'CCJSN', 'HXLMY',
       'EHJGX', 'YPVZL', 'JMTEY', 'DMLQP', 'HUWLU', 'LNILM', 'YYWJD',
       'PJDOE', 'LHXFK', 'PHDVM', 'MOQOS', 'THVMQ', 'JPHKQ', 'VACPK',
       'MHNBS', 'YBNCI', 'GXKFD', 'FZWLA', 'HBAMR', 'AEDTT', 'GCXOG',
       'AQTNC', 'RFHHN', 'MPZAN', 'GMYBT', 'IASLW', 'LKVOU', 'ETQCI',
       'DWDIA', 'WETYV', 'EMGSV', 'KGNQQ', 'DRDWP', 'DQOPF', 'ORKEN',
       'IMCSQ', 'KHOHL', 'PYNAO', 'XARMY', 'YOHNH', 'IPPEH', 'OJLUP',
       'TEQVC', 'GJQUV', 'DBEKB', 'KTZFY', 'OMVGN', 'PGFMB', 'ZZYKY',
       'VQGXK', 'FQRWT', 'SNEUW', 'TPVSG', 'TOBHP', 'TKRXG', 'ABBEH',
       'OVTHV', 'VDYQN', 'UUJVK', 'PVGFL', 'RLWOM', 'OVKOC', 'EHYDY',
       'EMOWR', 'GLWBA', 'MGCNS', 'SZNRG', 'UAVEQ', 'UPJMR', 'RCCTX',
       'PYAGN', 'TYLJC', 'XAYZH', 'TASQL', 'EOIDS', 'OIHMM', 'XQKHS',
       'ICBEK', 'USSPC', 'QPNKM', 'XADNT', 'VEYEA', 'DWNHB', 'UIIMD',
       'LJLTZ', 'UGXRR', 'BKQRA', 'FPAUI', 'KELDT', 'RNZYC', 'ISDQC',
       'SEPBQ', 'ZHLDR', 'WGFWV', 'HMGTW', 'XOLFI', 'XLRGG', 'OKEIR',
       'VYYAC', 'VKJWZ', 'KBCTA', 'JZDFW', 'IGQRL', 'OCNQR', 'NDCSO',
       'KFJHU', 'NVWJB', 'AAUIC', 'VKKRU', 'JBZWH', 'WQEIT', 'BZMNI',
       'SHIKZ', 'RPOWD', 'NLFQB', 'HWZPM', 'AHCJD', 'FEOAY', 'LQNDQ',
       'HPJIM', 'NPWBF', 'WQLGH', 'EHZJZ', 'EFRIR', 'AFHXN', 'WFHYR',
       'ESVFX', 'HQYJZ', 'ZWXAX', 'OZGBN', 'FMQMG', 'MRQPD', 'ECRAC',
       'AXHXM', 'OVINL', 'VMIXC', 'YFSHX', 'GBYBQ', 'ZCWOH', 'OWYYV',
       'ETUQJ', 'ATELV', 'LLJQU', 'WIEAP', 'ZXGTM', 'KPJOE', 'PJZWK',
       'LUTMM', 'SMWQJ', 'VYSHG', 'NGIQF', 'QEZTQ', 'YRYQU', 'PKINJ',
       'OUQBZ', 'XGIOW', 'CAGTD', 'IZAGF', 'TFVLT', 'ZIAVV', 'AATFJ',
       'HMPXL', 'LCSNZ', 'DWAYF', 'ATRIL', 'XGMGK', 'FZFPV', 'ETSQN',
       'SUHAB', 'NTBUU', 'UEQCN', 'JKUUT', 'GWBKE', 'KVXIP', 'PTKIU',
       'COZYF', 'DQIRW', 'MTONV', 'FTNYE', 'VVYZD', 'SYDFX', 'PJVXD',
       'VYNII', 'ZDULQ', 'RZCAB', 'TAYED', 'NMZPA', 'KUECW', 'MUSXH',
       'BGNAB', 'TZMER', 'XWJNM', 'RBXOR', 'EREUG', 'SFCSP', 'JIIGM',
       'VAUBQ', 'YYCAU', 'JEYEY', 'QEDKA', 'XKEKS', 'YCCLG', 'IOKVP',
       'PRQCC', 'KOMYM', 'RPRNQ', 'CHEUM', 'QKECE', 'EBMUS', 'DVCQI',
       'SJLVX', 'PMSKX', 'VTOQL', 'HYQBX', 'MZLKZ', 'QAHSC', 'PDLNY',
       'THRAQ', 'QDBSL', 'BLFKI', 'PPYNA', 'ZUYHU', 'UPXXL', 'VZZXF',
       'BYXPQ', 'VFMWJ', 'VSPGA', 'WOTTV', 'FTOKS', 'KNSYU', 'EQNMH',
       'LMJHG', 'IHRSL', 'OHTKT', 'UEKHE', 'YIRFR', 'WWTDO', 'PGWFT',
       'LTHWZ', 'CRPGJ', 'MIQGL', 'NKXAB', 'GGTFR', 'OCIQJ', 'WPNKV',
       'XWWMB', 'DBKFY', 'ITXRO', 'JRNPL', 'HVCXC', 'ZUCQA', 'VSQKX',
       'TDSHA', 'BZDXJ', 'CSMWE', 'YSTQG', 'IJFFS', 'HEEHI', 'PZJEX',
       'TIGCE', 'VNFGS', 'ALRVP', 'VEYXI', 'CXWTW', 'IZTXH', 'AEGXS',
       'VANEE', 'PRBQK', 'HVFOK', 'VOHUU', 'XIVWG', 'DLPIL', 'RSJGJ',
       'RMCFM', 'DSUDQ', 'EWOEN', 'IXRGY', 'ZFXCI', 'OKMQB', 'LMXXM',
       'REYWW', 'RSEUB', 'JTOQY', 'SNGOG', 'MCDRM', 'DQVOX', 'UFBGH',
       'HDTMN', 'CRGQG', 'GPCGD', 'QETGR', 'SQUTN', 'TMUIV', 'ZPUUT',
       'ZALLY', 'ZGWUB', 'GOGQV', 'GAEHO', 'PCTIU', 'JMKXX', 'VWJVC',
       'TDPLT', 'TUCHE', 'NHAPJ', 'EQULX', 'VEDQK', 'KVXCL', 'ZGGJQ',
       'WNUXX', 'MMBEO', 'CJUVE', 'QGTPL', 'ESESN', 'IXGDF', 'EORNF',
       'BJYPS', 'CVLUD', 'DPHQB', 'AWVZS', 'COIXS', 'IWRZM', 'FHUDV',
       'SXYQF', 'PUUHA', 'HEWTV', 'YEUEY', 'ZSTFC', 'DIDIT', 'OSYIS',
       'NBWCE', 'OBLKI', 'UNMAJ', 'UHGYC', 'SXEHQ', 'GOKAY', 'INSQR',
       'EWKWS', 'URMGJ', 'DOUUI', 'HZUIY', 'JCLEO', 'AMUOB', 'UYYJQ',
       'TYNOT', 'SXQGF', 'AIDMW', 'IGPPI', 'QMETP', 'IFWAG', 'KIWWD',
       'VANJK', 'TXGKN', 'YEUDH', 'LYXPO', 'FVLNN', 'NLSDC', 'RZOED',
       'AZQWM', 'UPHMU', 'XDNBV', 'JTFJI', 'QDRVV', 'KAEAC', 'KYKOG',
       'HLVSO', 'IRFOM', 'ADADK', 'XGJRD', 'QYJCD', 'RTJXB', 'HDVFO',
       'FFOIW', 'FOWSA', 'RMADD', 'JCUYM', 'GIXMH', 'OUTQR', 'LFNUZ',
       'ASNTH', 'JLQKP', 'UYXOX', 'WILIY', 'FFHOK', 'UALPT', 'ZWJVH',
       'ADOXQ', 'FGMWT', 'KREBP', 'NOZOL', 'AGSGC', 'PEVCX', 'QWVRM',
       'TIGCN', 'ARPWX', 'KXAGT', 'JYYZN', 'OWQWJ', 'CBCLM', 'UNMZU',
       'WYUYH', 'JPMRA', 'UNUJV', 'PEMVN', 'MWYSX', 'TJPRL', 'JNSUY',
       'FLBNO', 'OJCVH', 'KHMAT', 'KEFPC', 'YDFTB', 'HUFAU', 'QVNVN',
       'FJMOJ', 'RBFPF', 'DVDPX', 'JXZJJ', 'MBSIK', 'YOCBY', 'UWJHO',
       'UJRGM', 'CNBBZ', 'CLAJJ', 'BABTB', 'ETFPU', 'CSEAX', 'REZDC',
       'WCTYV', 'DGDPN', 'CDPWO', 'QXFRD', 'ELXNQ', 'ECUQB', 'XRHDX',
       'ZMLQK', 'RWSRM', 'JHSWC', 'ETMYL', 'XJLQL', 'AAAEI', 'XVWGU',
       'EFDPX', 'PVEII', 'EBFVL', 'XKGUD', 'QZPEU', 'IKGUD', 'TVWHL',
       'ZMYDI', 'YMRLB', 'UKHMB', 'YNRIY', 'ZFIBX', 'IXCKU', 'NAYVI',
       'HUYWF', 'ILQUD', 'FPGST', 'SCNJW', 'VBIAA', 'ZTFKF', 'MHSRG',
       'BURYG', 'ORVOS', 'TKLLD', 'YZANL', 'FPHXV', 'XUZXX', 'UMYTA',
       'VGTXP', 'NYMFE', 'VNMOX', 'XUXGI', 'CWFSA', 'JXFDE', 'IFMIQ',
       'UNKRX', 'NPODI', 'TKIIX', 'JMTQA', 'PUQQG', 'NIXUY', 'NXBAN',
       'RCZIW', 'ZAAPV', 'ZMRLR', 'PQORX', 'XWPSF', 'ZSYAT', 'LGJNC',
       'HDFZT', 'OUEPK', 'OWEPZ', 'IPKWQ', 'XZHYB', 'LQIMR', 'UTDJE',
       'QEECK', 'GBAPP', 'CSQBE', 'UOSES', 'ICJLE', 'OLBKD', 'DTVDJ',
       'VJSLF', 'YAVYP', 'MMUGC', 'NIPNV', 'PMENZ', 'GYNUY', 'GICZE',
       'OKLJZ', 'ZOKHF', 'OEWKZ', 'HPEDR', 'STOXK', 'FCVKF'],
      dtype='<U5')

In [64]:
random.choice(string.ascii_uppercase)

'I'

In [65]:
lst = random.sample(string.ascii_uppercase, len(string.ascii_uppercase))
lst.sort()

In [66]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
               'Value' : np.random.randn(M) / 200 + 0.08,
               'ShortInterest' : np.random.randn(M) / 200 -0.02},
              index = tickers[:M])

In [67]:
df

       Momentum  ShortInterest     Value
MYNBI  0.030646      -0.017735  0.084969
QPMZJ  0.025799      -0.023496  0.084911
PLSGQ  0.033237      -0.024086  0.083127
EJEYD  0.030016      -0.011994  0.087141
TZIRW  0.034165      -0.016337  0.087667
ZTEJD  0.031969      -0.025415  0.083988
...         ...            ...       ...
THVMQ  0.032722      -0.021015  0.088127
JPHKQ  0.036593      -0.017022  0.083631
VACPK  0.040059      -0.023956  0.078904
MHNBS  0.015524      -0.016827  0.086984
YBNCI  0.032472      -0.023637  0.075880
GXKFD  0.031550      -0.012948  0.084701

[500 rows x 3 columns]

### Assign randomly generated 500 tickers into one of ind_names(Financial, Tech)

In [68]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index = tickers, name = 'industry')

In [69]:
industries

MYNBI         TECH
QPMZJ         TECH
PLSGQ         TECH
EJEYD    FINANCIAL
TZIRW    FINANCIAL
ZTEJD         TECH
           ...
OKLJZ    FINANCIAL
ZOKHF         TECH
OEWKZ    FINANCIAL
HPEDR         TECH
STOXK    FINANCIAL
FCVKF         TECH
Name: industry, Length: 1000, dtype: object

In [70]:
by_industry = df.groupby(industries)

In [71]:
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.029994      -0.019729  0.080241
TECH       0.030227      -0.020296  0.080365

In [72]:
by_industry.describe().stack()

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  235.000000     235.000000  235.000000
          mean     0.029994      -0.019729    0.080241
          std      0.005116       0.005204    0.004779
          min      0.015524      -0.035881    0.065172
          25%      0.026558      -0.023544    0.077404
          50%      0.029831      -0.019601    0.080184
...                     ...            ...         ...
TECH      std      0.004751       0.004843    0.005064
          min      0.017822      -0.035051    0.064883
          25%      0.027127      -0.023637    0.077294
          50%      0.030050      -0.020266    0.080601
          75%      0.033275      -0.016634    0.083768
          max      0.043905      -0.006910    0.096478

[16 rows x 3 columns]

In [73]:
by_industry.describe().columns.names

FrozenList([None, None])

In [74]:
by_industry.describe().stack(0)

                              25%       50%       75%  count       max  \
industry
FINANCIAL Momentum       0.026558  0.029831  0.033643  235.0  0.043392
          ShortInterest -0.023544 -0.019601 -0.016476  235.0 -0.003795
          Value          0.077404  0.080184  0.083100  235.0  0.095502
TECH      Momentum       0.027127  0.030050  0.033275  265.0  0.043905
          ShortInterest -0.023637 -0.020266 -0.016634  265.0 -0.006910
          Value          0.077294  0.080601  0.083768  265.0  0.096478

                             mean       min       std
industry
FINANCIAL Momentum       0.029994  0.015524  0.005116
          ShortInterest -0.019729 -0.035881  0.005204
          Value          0.080241  0.065172  0.004779
TECH      Momentum       0.030227  0.017822  0.004751
          ShortInterest -0.020296 -0.035051  0.004843
          Value          0.080365  0.064883  0.005064

In [75]:
by_industry.describe().stack(1)

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  235.000000     235.000000  235.000000
          mean     0.029994      -0.019729    0.080241
          std      0.005116       0.005204    0.004779
          min      0.015524      -0.035881    0.065172
          25%      0.026558      -0.023544    0.077404
          50%      0.029831      -0.019601    0.080184
...                     ...            ...         ...
TECH      std      0.004751       0.004843    0.005064
          min      0.017822      -0.035051    0.064883
          25%      0.027127      -0.023637    0.077294
          50%      0.030050      -0.020266    0.080601
          75%      0.033275      -0.016634    0.083768
          max      0.043905      -0.006910    0.096478

[16 rows x 3 columns]

In [76]:
by_industry.describe().unstack('industry')

                 industry
Momentum  count  FINANCIAL    235.000000
                 TECH         265.000000
          mean   FINANCIAL      0.029994
                 TECH           0.030227
          std    FINANCIAL      0.005116
                 TECH           0.004751
                                 ...
Value     50%    FINANCIAL      0.080184
                 TECH           0.080601
          75%    FINANCIAL      0.083100
                 TECH           0.083768
          max    FINANCIAL      0.095502
                 TECH           0.096478
Length: 48, dtype: float64

In [77]:
by_industry.describe().stack(1).stack(0)

industry
FINANCIAL  count  Momentum         235.000000
                  ShortInterest    235.000000
                  Value            235.000000
           mean   Momentum           0.029994
                  ShortInterest     -0.019729
                  Value              0.080241
                                      ...
TECH       75%    Momentum           0.033275
                  ShortInterest     -0.016634
                  Value              0.083768
           max    Momentum           0.043905
                  ShortInterest     -0.006910
                  Value              0.096478
Length: 48, dtype: float64

In [81]:
m_rets = (1 + returns).resample('M', how = 'prod', kind = 'period') - 1

m_rets.loc['2012']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).prod()
  """Entry point for launching an IPython kernel.

0.1270307639128927

### Regularizations

Regularize each group

## $$ y = {{x - \mu} \over \sigma}$$

where,<br>

$\mu$ : group.mean()

$\sigma$ : group.std()

In [87]:
def zscore(group):
    return (group - group.mean()) / group.std()

df_stand = by_industry.apply(zscore)

In [88]:
df_stand

       Momentum  ShortInterest     Value
MYNBI  0.088190       0.528815  0.909130
QPMZJ -0.931959      -0.660829  0.897522
PLSGQ  0.633645      -0.782612  0.545385
EJEYD  0.004184       1.486159  1.443773
TZIRW  0.815221       0.651684  1.553913
ZTEJD  0.366743      -1.057046  0.715261
...         ...            ...       ...
THVMQ  0.525147      -0.148495  1.532667
JPHKQ  1.340008       0.675976  0.644937
VACPK  1.967471      -0.812312 -0.279931
MHNBS -2.828687       0.557642  1.410988
YBNCI  0.472688      -0.689770 -0.885676
GXKFD  0.304137       1.302978  0.933192

[500 rows x 3 columns]

### Use `.agg` for list of aggregate operations

In [100]:
df_stand.groupby(industries).agg(['mean','std']).stack(0)

                                 mean  std
industry
FINANCIAL Momentum       6.611732e-16  1.0
          ShortInterest  1.704547e-15  1.0
          Value          7.638334e-15  1.0
TECH      Momentum      -1.511160e-15  1.0
          ShortInterest -4.285461e-15  1.0
          Value         -2.207877e-16  1.0

In [94]:
ind_rank = by_industry.rank(ascending = False)

In [102]:
by_industry.apply(lambda x: zscore(x.rank())).info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, MYNBI to GXKFD
Data columns (total 3 columns):
Momentum         500 non-null float64
ShortInterest    500 non-null float64
Value            500 non-null float64
dtypes: float64(3)
memory usage: 35.6+ KB

In [106]:
from numpy.random import rand
fac1, fac2, fac3 = np.random.rand(3, 1000)

ticker_subset = tickers.take(np.random.permutation(N)[:1000])

In [107]:
port = Series(0.7 * fac1 - 1.2 * fac2 + 0.3 * fac3 + rand(1000),
             index = ticker_subset)

factors = DataFrame({'f1': fac1, 'f2' : fac2, 'f3': fac3},
                   index = ticker_subset)

In [109]:
port.head()

HFRRC    0.093888
CVLUD    0.688761
YEUDH    1.092192
VGTXP    0.836729
DGDPN    0.673984
dtype: float64

In [110]:
factors.head()

             f1        f2        f3
HFRRC  0.069083  0.582238  0.959679
CVLUD  0.537541  0.350002  0.729801
YEUDH  0.533271  0.193613  0.709919
VGTXP  0.871619  0.063394  0.538121
DGDPN  0.726668  0.132815  0.597739

In [111]:
factors.corrwith(port)

f1    0.381266
f2   -0.678841
f3    0.226546
dtype: float64

### Least Squares Regression

### Portfolio Holdings and Factors

$$y = \sum_{i = 0}^{N}{x_{i}* \beta_{i}}$$

### Extract $\beta$

In [112]:
pd.ols(y = port, x = factors).beta

AttributeError: module 'pandas' has no attribute 'ols'

In [113]:
factors.corrwith(port)

f1    0.381266
f2   -0.678841
f3    0.226546
dtype: float64

In [114]:
def beta_exposure(chunk, factors = None):
    return pd.ols(y = chunk, x = factors).beta