In [3]:
from math import *

sum(range(9))

36

In [5]:
sum(range(9), 4) #start adding from 4

40

In [6]:
max(range(9))

8

In [7]:
min(range(9))

0

In [9]:
abs(-5)

5

In [10]:
pow(3, 3)

27.0

In [11]:
pow(3,3,5) #modulo

TypeError: pow expected 2 arguments, got 3

In [13]:
print (round(3.2), round(3.8))

3 4

In [16]:
divmod(8,5) #몫, 나머지

(1, 3)

In [18]:
l = list(range(0,10))
print (sum(l))
print (sum(l, 100))

45
145

In [19]:
print (max(l))
print (min(l))

9
0

In [20]:
print (abs(-11))

11

In [21]:
pow(2,10)

1024.0

In [22]:
pow(2,10,100)

TypeError: pow expected 2 arguments, got 3

In [23]:
divmod(10,7)

(1, 3)

In [24]:
divmod(5.3,2.1)

(2.0, 1.0999999999999996)

In [25]:
round(152.394)

152

In [26]:
round(152.394, 1) # decimal place

152.4

In [27]:
round(152.394, -1)

150.0

In [28]:
pi

3.141592653589793

In [29]:
e

2.718281828459045

In [33]:
ceil(4.3)

5

In [31]:
floor(4.8)

4

In [32]:
trunc(4.44354)

4

In [35]:
copysign(4, -3)

-4.0

In [36]:
copysign(-3, 9)

3.0

In [37]:
fabs(4.3)

4.3

In [38]:
factorial(10)

3628800

In [40]:
fmod(10, 4) # ~ x % y

2.0

In [43]:
fsum(range(9))

36.0

In [46]:
modf(pi)

(0.14159265358979312, 3.0)

In [47]:
modf(e)

(0.7182818284590451, 2.0)

In [50]:
fmod(5.5,3)

2.5

In [51]:
5.5%3

2.5

In [52]:
fmod(-5.5,3)

-2.5

In [53]:
-5.5 % 3

0.5

In [54]:
pow(3,4)

81.0

In [55]:
sqrt(9)

3.0

In [56]:
exp(4)

54.598150033144236

In [61]:
log(10) # ~ln(x)

2.302585092994046

In [63]:
log(10,10)

1.0

In [64]:
log(10,e)

2.302585092994046

In [69]:
#Degrees, Radians, Trigonometric

degrees(2*pi)

360.0

In [70]:
degrees(pi)

180.0

In [71]:
radians(180)

3.141592653589793

In [73]:
radians(720)/pi

4.0

In [ ]:
'''
sin
cos
tan
asin
atan
acos
cosh
sinh
tanh
asinh
atanh
acosh
'''

In [74]:
import fractions
fractions.Fraction(4,16)

Fraction(1, 4)

In [76]:
fractions.Fraction(-6,21)

Fraction(-2, 7)

In [77]:
fractions.Fraction(3)

Fraction(3, 1)

In [80]:
f = fractions.Fraction(4, 3)

In [81]:
f2 = fractions.Fraction(f) # 객체를 이용한 객체 생서

In [82]:
print (f, f2)

4/3 4/3

In [ ]:
#[+|-]<Int>
#[+|-]<Int>/<Int>
#[+|-]<Int>.<Int>
#[+|-].<Int>

In [83]:
fractions.Fraction('6/21')

Fraction(2, 7)

In [84]:
fractions.Fraction('3.14')

Fraction(157, 50)

In [85]:
fractions.Fraction('    -0.34     ')

Fraction(-17, 50)

In [ ]:
s = """
-0.34"""
fractions.Fraction(s)

In [88]:
from fractions import Fraction

In [95]:
Fraction.from_float(3.140)

Fraction(7070651414971679, 2251799813685248)

In [92]:
Fraction.from_decimal(3)

Fraction(3, 1)

In [93]:
Fraction.from_float(0.5)

Fraction(1, 2)

In [96]:
from math import pi, cos
from fractions import Fraction

Fraction.from_float(pi)

Fraction(884279719003555, 281474976710656)

In [97]:
Fraction.from_float(pi).limit_denominator(100)

Fraction(311, 99)

In [99]:
# round, floor, ceil
f = Fraction.from_float(3.14)
f.__floor__()

3

In [101]:
floor(f)

3

In [102]:
ceil(f)

4

In [103]:
round(f)

3

In [105]:
import fractions
fractions.gcd(120,180)

/home/june/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: fractions.gcd() is deprecated. Use math.gcd() instead.

60

In [106]:
fractions.gcd(0.5, 6)

/home/june/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: fractions.gcd() is deprecated. Use math.gcd() instead.
  """Entry point for launching an IPython kernel.

0.5

In [107]:
gcd(120,180)

60

In [108]:
#Decimal Representation,
import decimal
decimal.Decimal(4)

Decimal('4')

In [109]:
from decimal import *

Decimal('1.1')

Decimal('1.1')

In [110]:
Decimal(str(1/7))

Decimal('0.14285714285714285')

In [114]:
Decimal((0,(3, 1, 4), -2))

Decimal('3.14')

In [116]:
Decimal((1,(3,1,4),-2))

Decimal('-3.14')

In [117]:
Decimal(-inf)

Decimal('-Infinity')

In [118]:
Decimal(inf)

Decimal('Infinity')

In [119]:
Decimal(-0)

Decimal('0')

In [120]:
Decimal('NaN')

Decimal('NaN')

In [121]:
d = Decimal((0,(3,1,4),-2))
Decimal(d)

Decimal('3.14')

In [123]:
a, b = Decimal('3.14'), Decimal('.04')

a+b

Decimal('3.18')

In [124]:
a - b

Decimal('3.10')

In [125]:
a*b

Decimal('0.1256')

In [126]:
a/b

Decimal('78.5')

In [127]:
a**b

Decimal('1.046832472577719248090395663')

In [128]:
a*3

Decimal('9.42')

In [129]:
divmod(a,2)

(Decimal('1'), Decimal('1.14'))

In [130]:
round(a,1)

Decimal('3.1')

In [131]:
int(a)

3

In [132]:
#일반숫자와 같은 list연산이 가능. max, min, sort..
rawData = '3.45|3.54|9.48|6.33'
l = [Decimal(raw) for raw in rawData.split('|')]
l

[Decimal('3.45'), Decimal('3.54'), Decimal('9.48'), Decimal('6.33')]

In [133]:
max(l)

Decimal('9.48')

In [135]:
min(l)

Decimal('3.45')

In [136]:
sum(l)

Decimal('22.80')

In [137]:
sorted(l)

[Decimal('3.45'), Decimal('3.54'), Decimal('6.33'), Decimal('9.48')]

In [139]:
sorted(l, reverse=True)

[Decimal('9.48'), Decimal('6.33'), Decimal('3.54'), Decimal('3.45')]

In [ ]:
#Decimal 내장 연산
#sqrt
#exp
#ln
#compare
#copy_abs
#copy_negate
#copy_sign(other)
#copy_signed()
#is_signed()
#is_finite()
#is_infinite()
#is_zero

In [140]:
d = Decimal('3.14')
d.sqrt()

Decimal('1.772004514666935040199112510')

In [141]:
d.exp()

Decimal('23.10386685872218278457908458')

In [142]:
d.ln()

Decimal('1.144222799920161998805694448')

In [146]:
d3 = Decimal('6')
d2 = Decimal('-1.414')
print (d, d2, d3)
print (d.compare(d2), d.compare(d3)) #"obj is Larger than other? yes:1,same:0,no:-1

3.14 -1.414 6
1 -1

In [147]:
d2.copy_abs() #절대화

Decimal('1.414')

In [148]:
d.copy_negate() #음수화

Decimal('-3.14')

In [149]:
d.copy_sign(d2)

Decimal('-3.14')

In [151]:
d2.is_signed()

True

In [153]:
d.is_signed()

False

In [154]:
d.is_finite()

True

In [156]:
d.is_infinite()

False

In [158]:
Decimal(inf).is_finite()

False

In [159]:
d.is_zero()

False

In [160]:
a = Decimal('3.14')
b = Decimal('7')
a/b

Decimal('0.4485714285714285714285714286')

In [161]:
#Decimal Class 의 환경변수
getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[Inexact, FloatOperation, Rounded], traps=[InvalidOperation, DivisionByZero, Overflow])

In [162]:
#소숫점 자리수 7 (8에서 반올림)
getcontext().prec = 7
a /b

Decimal('0.4485714')

In [164]:
import decimal
getcontext().rounding = decimal.ROUND_CEILING
a/b

Decimal('0.4485715')

In [166]:
d = decimal.Decimal('3.14')
d2 = decimal.Decimal()
d/d2

DivisionByZero: [<class 'decimal.DivisionByZero'>]

In [169]:
getcontext().traps[decimal.DivisionByZero] =0
a/0

Decimal('Infinity')

In [172]:
decimal.DefaultContext

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [173]:
decimal.BasicContext

Context(prec=9, rounding=ROUND_HALF_UP, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[Clamped, InvalidOperation, DivisionByZero, Overflow, Underflow])

In [174]:
decimal.ExtendedContext

Context(prec=9, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[])

In [175]:
decimal.getcontext()

Context(prec=7, rounding=ROUND_CEILING, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[DivisionByZero, Inexact, FloatOperation, Rounded], traps=[InvalidOperation, Overflow])

In [176]:
decimal.setcontext(decimal.DefaultContext)

In [177]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [178]:
decimal.setcontext(decimal.BasicContext)

In [179]:
'''
random.seed([x])
random.random()
random.uniform(a,b)
random.gauss(m, sb)
random.randrange(start, stop, step)
random.randint(a, b)
random.choice(seq)
random.shuffle(x[,random])
random.sample(population, k)
'''

'\nrandom.seed([x])\nrandom.random()\nrandom.uniform(a,b)\nrandom.gauss(m, sb)\nrandom.randrange(start, stop, step)\nrandom.randint(a, b)\nrandom.choice(seq)\nrandom.shuffle(x[,random])\nrandom.sample(population, k)\n'

In [180]:
import random
random.random()

0.9170688324581914

In [181]:
random.random()

0.9204265184128545

In [184]:
random.uniform(3,4)

3.7146891396459765

In [186]:
for i in range(4):
    print(random.gauss(1, 1.0))

0.5405794893056387
-0.5821722601517194
0.26176792848804253
1.6066578361644854

In [187]:
help(random.gauss)

Help on method gauss in module random:

gauss(mu, sigma) method of random.Random instance
    Gaussian distribution.

    mu is the mean, and sigma is the standard deviation.  This is
    slightly faster than the normalvariate() function.

    Not thread-safe without a lock around calls.

In [188]:
[random.randrange(20) for i in range(10)]

[7, 16, 4, 4, 13, 16, 14, 7, 9, 2]

In [189]:
random.sample(range(20), 10)

[14, 9, 1, 13, 3, 8, 4, 16, 5, 7]

In [190]:
[random.randrange(0,20,3) for i in range(5)]

[12, 0, 18, 6, 12]

In [203]:
l =list(range(9))
random.shuffle(l)

In [204]:
l

[7, 5, 8, 0, 4, 1, 3, 6, 2]

In [205]:
[random.choice(l) for i in range(3)]

[3, 0, 5]

In [206]:
random.sample(l, 3)

[0, 5, 3]

In [209]:
l = list(range(10))
random.shuffle(l) # == l = random.sample(l, 10)

In [210]:
l

[1, 9, 4, 7, 2, 0, 3, 5, 6, 8]

In [212]:
#Spawn Random Instance with seed number

import random
r = random.Random(1)
print (r.random())
r2 = random.Random()
print (r2.random())
r2.seed(1) #seed initialization
print (r2.random())

0.13436424411240122
0.42265685053442803
0.13436424411240122

In [213]:
import time
ct = time.time()

In [215]:
time.sleep(3)

In [216]:
time.gmtime(ct) # gm. GreenwichMeantime, 그리니치 평균

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=8, tm_min=8, tm_sec=47, tm_wday=2, tm_yday=179, tm_isdst=0)

In [217]:
time.localtime(ct) # LST Local Standard Time. 9hrs adv 4 KOR

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=17, tm_min=8, tm_sec=47, tm_wday=2, tm_yday=179, tm_isdst=0)

In [224]:
time.asctime(time.gmtime()) # Convert a time tuple to a string, e.g. 'Sat Jun 06 16:26:11 1998'.

'Wed Jun 28 08:12:39 2017'

In [225]:
help(time.asctime)

Help on built-in function asctime in module time:

asctime(...)
    asctime([tuple]) -> string

    Convert a time tuple to a string, e.g. 'Sat Jun 06 16:26:11 1998'.
    When the time tuple is not present, current time as returned by localtime()
    is used.

In [230]:
#time() - Accumulated Seconds since 1970
#gmtime( sec) - greenwich time struct
#localtime( sec) - local time by struct
#asctime( time_struct) readable time info with string format
print(time.time())
print(time.gmtime(time.time()))
print(time.asctime(time.gmtime(time.time())))
print (time.mktime(time.localtime(time.time())))

1498637701.6745446
time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=8, tm_min=15, tm_sec=1, tm_wday=2, tm_yday=179, tm_isdst=0)
Wed Jun 28 08:15:01 2017
1498637701.0

In [232]:
time.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [233]:
time.localtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=9, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [235]:
time.asctime(time.gmtime(0))

'Thu Jan  1 00:00:00 1970'

In [236]:
time.asctime(time.localtime(0))

'Thu Jan  1 09:00:00 1970'

In [237]:
#Examples
import time
t = time.time()
time.sleep(10)
t2 = time.time()

spendtime = t2-t
print ("Be4",t)
print ("Aft", t2)
print ("W {0}".format(spendtime))

Be4 1498638081.6063092
Aft 1498638091.6165974
W 10.01028823852539

In [240]:
help(time.strftime)

Help on built-in function strftime in module time:

strftime(...)
    strftime(format[, tuple]) -> string

    Convert a time tuple to a string according to a format specification.
    See the library reference manual for formatting codes. When the time tuple
    is not present, current time as returned by localtime() is used.

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [241]:
help(time.strptime)

Help on built-in function strptime in module time:

strptime(...)
    strptime(string, format) -> struct_time

    Parse a string to a time tuple according to a format specification.
    See the library reference manual for formatting codes (same as
    strftime()).

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [242]:
#strftime(time_struct) Time_struct를 정의한 형식으로 String 출력
#strptime( string[, format] ) "%a %b %d %H:%M:%S %Y" # String을 정의된 형식으로 Time_struct 형성.

import time
timestring = time.ctime()

In [243]:
timestring

'Wed Jun 28 17:28:42 2017'

In [244]:
time.strptime(timestring)

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=17, tm_min=28, tm_sec=42, tm_wday=2, tm_yday=179, tm_isdst=-1)

In [254]:
print (time.strftime('%Y/%m/%d',time.localtime()))
print (time.strftime('%y/%b/%d', time.localtime()))
print (time.strftime('%Y/%B/%d', time.localtime()))
print (time.strftime('%H:%M:%S, %z', time.localtime()))
print (time.strftime('%I:%M:%S %p, %z', time.localtime()))

2017/06/28
17/Jun/28
2017/June/28
17:37:21, +0900
05:37:21 PM, +0900

In [258]:
print (time.strftime('%a, %Y/%m/%d', time.localtime()))
print (time.strftime('%A, %y/%B/%d', time.localtime()))
print (time.strftime('%w, %Y/%B/%d', time.localtime()))
print (time.strftime('%m/%d = %j', time.localtime()))

Wed, 2017/06/28
Wednesday, 17/June/28
3, 2017/June/28
06/28 = 179

In [264]:
# %w : 요일을 숫자로 표시
# %j 1/1일부터 누적된 날짜
print (time.strftime('%B %dth %A %I:%M', time.localtime()))

print (time.strftime("%Y-%m-%d %I:%M %p", time.localtime())) #Y-m-d I:M:S p
print (time.strftime("%y/%m/%d %H:%M:%S", time.localtime())) #y/m/d H:M:S
print (time.strftime("%x, %X", time.localtime())) #month/date/yr H:M:S

June 28th Wednesday 05:44
2017-06-28 05:44 PM
17/06/28 17:44:46
06/28/17, 17:44:46

In [ ]:
time.strptime("20170628.15:30:28 AM Wed", "%Y%m%d.%H:%M:%S %p %a")

In [268]:
# get time in second -> create readible time(ctime) -> input into strptime 
print (time.strptime(time.ctime(time.time())))

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=17, tm_min=48, tm_sec=46, tm_wday=2, tm_yday=179, tm_isdst=-1)

In [271]:
time.ctime() #"%a %b %d %H:%M:%S %Y"

'Wed Jun 28 17:50:18 2017'

In [ ]:
#datetime.
#date
#time
#datetime
#timedelta

In [275]:
import datetime
import time
print (datetime.date(2009, 5, 5))
print (datetime.date.today())
print (datetime.date.fromtimestamp(time.time()))

print (datetime.date.fromordinal(300))

2009-05-05
2017-06-28
2017-06-28
0001-10-27

In [278]:
today = datetime.date.today()
print (today.year, today.month, today.day)

2017 6 28

In [280]:
today.max

datetime.date(9999, 12, 31)

In [281]:
today.min

datetime.date(1, 1, 1)

In [282]:
today

datetime.date(2017, 6, 28)

In [283]:
today.replace(2016, 6,27)

datetime.date(2016, 6, 27)

In [284]:
today.timetuple() # -> return time_struct based on the date information, time is set to all 0's

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=179, tm_isdst=-1)

In [285]:
today.toordinal()

736508

In [286]:
today.weekday()

2

In [287]:
d = datetime.date.today()
d.replace(day=3)

datetime.date(2017, 6, 3)

In [288]:
d

datetime.date(2017, 6, 28)

In [289]:
d.timetuple()

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=179, tm_isdst=-1)

In [307]:
print(time.strftime('%Y-%m-%d %H:%M:%S' , d.timetuple()))
print(d.isoformat())
print (time.strftime('%Y-%m-%d', d.timetuple()))
print (datetime.time.strftime(d))

2017-06-28 00:00:00
2017-06-28
2017-06-28

AttributeError: type object 'datetime.time' has no attribute 'strfdate'

In [294]:
d.toordinal()

736508

In [295]:
d.weekday()

2

In [298]:
datetime.date.isoformat()

TypeError: descriptor 'isoformat' of 'datetime.date' object needs an argument

In [302]:
d.isoformat()

'2017-06-28'

In [312]:
time.ctime(time.time()) #second input

'Wed Jun 28 18:15:16 2017'

In [313]:
datetime.date.ctime(datetime.date.today()) #datetime.date 오브젝트 (time_struct와는 다름. time.~)

'Wed Jun 28 00:00:00 2017'

In [5]:
#Page 253 datetime.time Class

#Variables and methods
#time.[hour, minute, second, microsecond, min, max, replace, isoformat, strftime]
#datetime.time.strftime <- datetime.time 객체,
from datetime import time
print (time(7))
print (time(8,14,20,3000))

print (time(hour=3, second = 40))

07:00:00
08:14:20.003000
03:00:40

In [6]:
print (time(70)) # Hour must be in 0..23

ValueError: hour must be in 0..23

In [12]:
t = time(8,14,20,3000)
print (t.hour)
print (t.second)

8
20

In [13]:
t.replace(hour = 11, second = 59)

datetime.time(11, 14, 59, 3000)

In [14]:
print (t.replace(hour = 11, second = 59))
print (t.isoformat()) #print 명령에서 출력되는 Default format
print (print (t))

11:14:59.003000
08:14:20.003000
08:14:20.003000
None

In [15]:
#Datetime.datetime 클래스. (datetime.date + datetime.time)

from datetime import datetime
datetime(2007, 3, 15)

datetime.datetime(2007, 3, 15, 0, 0)

In [16]:
datetime(2009, 3, hour = 20, second = 30, day = 15)

datetime.datetime(2009, 3, 15, 20, 0, 30)

In [18]:
datetime(2000) #YR/M/D is Essential

TypeError: Required argument 'month' (pos 2) not found

In [19]:
'''
datetime.datetime.[year, month, day, hour, minute, second, microsecond, min, max,
                   today(),now([tz]),utcnow(),
                   fromtimestamp(timestamp[,tz]),utcfromtimestamp(timestamp),
                   fromordinal(ordinal), combine(date,time), strptime(date_string, format)]
'''

'\ndatetime.datetime.[year, month, day, hour, minute, second, microsecond, min, max,\n                   today(),now([tz]),utcnow(),\n                   fromtimestamp(timestamp[,tz]),utcfromtimestamp(timestamp),\n                   fromordinal(ordinal), combine(date,time), strptime(date_string, format)]\n'

In [28]:
import time
import datetime as dt

dt.datetime.now()

datetime.datetime(2017, 6, 29, 9, 58, 38, 937188)

In [21]:
dt.datetime.today() #time.localtime()

datetime.datetime(2017, 6, 29, 9, 56, 18, 346713)

In [29]:
dt.datetime.utcnow() # time.gmtime()

datetime.datetime(2017, 6, 29, 0, 59, 0, 985711)

In [36]:
print(dt.datetime.timestamp(dt.datetime.now())) #datetime obj -> timestamp( ~ time.tie(), second)
print (time.time())

1498698056.742671
1498698056.7430508

In [37]:
dt.datetime.utcfromtimestamp(time.time())

datetime.datetime(2017, 6, 29, 1, 1, 51, 629373)

In [38]:
dt.datetime.fromtimestamp(time.time())

datetime.datetime(2017, 6, 29, 10, 2, 6, 877192)

In [39]:
dt.datetime.fromordinal(365)

datetime.datetime(1, 12, 31, 0, 0)

In [41]:
d = dt.date(2017,6,29)
t = dt.time(10, 3, 11)
datetime.combine(d, t)

datetime.datetime(2017, 6, 29, 10, 3, 11)

In [42]:
from datetime import datetime
dtnow = dt.datetime.now()
dtnow.date()

datetime.date(2017, 6, 29)

In [43]:
dtnow.time()

datetime.time(10, 10, 44, 378269)

In [44]:
dtnow.replace(hour = 20, second = 30)

datetime.datetime(2017, 6, 29, 20, 10, 30, 378269)

In [47]:
dtnow.timetuple() # -> convert into an time_struct (time.localtime(time.time()))

time.struct_time(tm_year=2017, tm_mon=6, tm_mday=29, tm_hour=10, tm_min=10, tm_sec=44, tm_wday=3, tm_yday=180, tm_isdst=-1)

In [52]:

'''
dt.datetime.weekday()

dt.datetime.isoweekday()

dt.datetime.isocalendar()

dt.datetime.isoformat()

dt.datetime.ctime()

dt.datetime.strftime(format)
'''

'\ndt.datetime.weekday()\n\ndt.datetime.isoweekday()\n\ndt.datetime.isocalendar()\n\ndt.datetime.isoformat()\n\ndt.datetime.ctime()\n\ndt.datetime.strftime(format)\n'

In [59]:
from datetime import datetime

dt = datetime.now()

print (dt.weekday())
print (dt.isoweekday())
print (dt.isocalendar())
print (dt.isoformat())
print (dt.ctime())
print (str(dt)) #isoformat()

3
4
(2017, 26, 4)
2017-06-29T10:21:09.796220
Thu Jun 29 10:21:09 2017
2017-06-29 10:21:09.796220

In [60]:
datetime(2017, 1,1).weekday()

6

In [61]:
datetime(2017, 1,1).isoweekday()

7

In [62]:
from datetime import timedelta
timedelta(days = -3)

datetime.timedelta(-3)

In [64]:
timedelta(hours= 7)

datetime.timedelta(0, 25200)

In [67]:
timedelta(weeks=2, days =3, hours = -3, minutes = 30)

datetime.timedelta(16, 77400)

In [68]:
timedelta(minutes = 3, milliseconds = -20, microseconds=400)

datetime.timedelta(0, 179, 980400)

In [71]:
print (timedelta(weeks=2, days = 3, hours = -3, minutes = 30))

16 days, 21:30:00

In [72]:
timedelta(microseconds = -1)

datetime.timedelta(-1, 86399, 999999)

In [73]:
timedelta(microseconds =1)

datetime.timedelta(0, 0, 1)

In [74]:
timedelta(seconds = 1)

datetime.timedelta(0, 1)

In [81]:
d1 = datetime.now()
d2 = datetime.utcnow()
tz = d1 - d2
type (tz)

datetime.timedelta

In [82]:
tz

datetime.timedelta(0, 32399, 999929)

In [83]:
print (tz)

8:59:59.999929

In [84]:
tz.seconds/3600

8.999722222222223