In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

In [2]:
%matplotlib inline

%pwd

'D:\\Users\\JunyoungSon\\Documents\\Pydata'

In [3]:
close_px = pd.read_csv('./pydata-book/pydata-book/ch11/stock_px.csv', parse_dates=True, index_col = 0)
volume = pd.read_csv('./pydata-book/pydata-book/ch11/volume.csv',parse_dates=True, index_col=0)

In [4]:
close_px.head()

              AA  AAPL    GE    IBM   JNJ  MSFT   PEP     SPX   XOM
1990-02-01  4.98  7.86  2.87  16.79  4.27  0.51  6.04  328.79  6.12
1990-02-02  5.04  8.00  2.87  16.89  4.37  0.51  6.09  330.92  6.24
1990-02-05  5.07  8.18  2.87  17.32  4.34  0.51  6.05  331.85  6.25
1990-02-06  5.01  8.12  2.88  17.56  4.32  0.51  6.15  329.66  6.23
1990-02-07  5.04  7.77  2.91  17.93  4.38  0.51  6.17  333.75  6.33

In [6]:
prices = close_px.loc['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.loc['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [7]:
prices

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [8]:
volume

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

In [9]:
prices * volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

## Volume Weighted Average Price.

In [10]:

vwap =

NameError: name 'vwap' is not defined

1. hello

2. Hi

1. a
2. b
3. c

# 1. a

    # 1.1 b

**a**  *b*  __a__, _b_

_*bolditalic*_

[daum](https://daum.net)

![Image](./figpath.png)

![Image2 Not exist](./Image.png)

- a
- b
- c

* 가
* 나
* 다

+ ㅁ
+ ㄴ
+ ㅇ

---

'''
import numpy as np
'''

- [x] Markdown Basic
- [ ] markdown Pr

In [17]:
a = 1+1
a

2

1 + 1 is {{ a }}

$$e^x=\sum_{i=0}^{\infty} \frac{1}{i!}x^i$$

```python
def f(x):
    """a docstring"""
    return x**2
```

```python
print "hello world'
```

| This | is   |
|------|------|
|a ![image](./figpath.png)    | table|

|this<br>line|is|
|-|-|
|a|table|
|and|a|
||---|
|lines|are|

<font color = 'red'>red</font>

> ## he

>> ### he

# 1. Section
> ## 1.1 <font color='red'>subsection</font>
>> ### 1.1.1 <font color = 'blue'>subsubsection</font>

<i>italic</i>
<b>bold</b>
<u>underlined</u>
~~cancelled~~

- Item
 - SubItem

1. <font color = 'red'>Section</font>

 1.1 <font color = 'blue'>Subsection<br>
 *Hi*</font>

[Github](https://www.github.com/)

![Turing's Device](http://www.google.com/logos/2012/turing-doodle-static.jpg)

> Indentations

# Horizental Lines
---

# Tables

|| Tables | Are | Cool|
|---|-|:-:|-:|
||col3 is | right-aligned | 1600 |
|---|---|---|
|---:|---:|---:|

|Tables | Are          | Cool |
|-------|:------------:|-----:|
|col3 is|right-aligned | 1600 |

### Python Code

```python
from pandas import DataFrame, Series

```

<div class="alert alert-block alert-info"> div box </div>

<div class="alert alert-block alert-warning"> div box alert-warning</div>

<div class = "alert alert-block alert-success"> div box alert-success</div>

This is latex formatted math formula insertion $$y = x^2$$ by line breaking.<br>
This is latex formatted math formula insertion $y = x^2$ without line breaking.

- **Add**
 - $x + y$
 
- **Subtract**
 - $x-y$

- **Multiply**
 - $x * y$
 - $x \times y$
 - $x . y$
- **Divide**
 - $x / y$
 - $x \div y$
 - $\frac{x}{y}$

## Relations

- $\pi \approx 3.14159$
- ${1 \over 0} \neq \infty$
- $0 < 1 > 0$
- $0 \leq 1 \geq 0$

## Fractions

- $^1/_2$
- $\frac{1}{2x}$
- $1 \div 2x$
- $3 \over 4$