In [2]:
import sqlite3, os

In [3]:
os.path.abspath(os.path.curdir)

'/home/june/Pydata'

In [4]:
con = sqlite3.connect('./test.db')
con_mem = sqlite3.connect(":memory")

In [5]:
cur = con_mem.cursor()

In [6]:
cur.execute("CREATE TABLE PBook(Name text, PhoneNum text);")
cur.execute("INSERT INTO PBook VALUES('Derick', '010-1234-1234')")

In [7]:
name = 'JYSOn'
phonenumber = '010-3871-7486'
cur.execute("INSERT INTO PBook VALUES(?,?);", (name, phonenumber))

In [8]:
cur.execute("INSERT INTO PBook VALUES(:inputName, :inputNum);", {"inputNum":phonenumber, "inputName":name})

In [9]:
datalist = (('Tom', '010-543-5432'),('DSP','010'))
cur.executemany("INSERT INTO PBook VALUES(?,?);", datalist)

In [10]:
def dataGenerator():
    datalist = {('Tom', '010-3857-3874'), ('DSP', '010-3875-3847')}
    for item in datalist:
        yield item

In [11]:
cur.executemany("INSERT INTO PBook VALUES(?,?);", dataGenerator())

In [14]:
dump = list(con_mem.iterdump())
import _pickle as pkl

In [15]:
dump

['BEGIN TRANSACTION;',
 'CREATE TABLE PBook(Name text, PhoneNum text);',
 'INSERT INTO "PBook" VALUES(\'Derick\',\'010-1234-1234\');',
 'INSERT INTO "PBook" VALUES(\'JYSOn\',\'010-3871-7486\');',
 'INSERT INTO "PBook" VALUES(\'JYSOn\',\'010-3871-7486\');',
 'INSERT INTO "PBook" VALUES(\'Tom\',\'010-543-5432\');',
 'INSERT INTO "PBook" VALUES(\'DSP\',\'010\');',
 'INSERT INTO "PBook" VALUES(\'DSP\',\'010-3875-3847\');',
 'INSERT INTO "PBook" VALUES(\'Tom\',\'010-3857-3874\');',
 'COMMIT;']

In [16]:
with open('./dbcmd.txt', 'wb') as cmd:
    pkl.dump(dump, cmd)

In [19]:
with open('./dbcmd.txt', 'rb') as cmd:
    dump2 = pkl.load(cmd)

In [20]:
dump2

['BEGIN TRANSACTION;',
 'CREATE TABLE PBook(Name text, PhoneNum text);',
 'INSERT INTO "PBook" VALUES(\'Derick\',\'010-1234-1234\');',
 'INSERT INTO "PBook" VALUES(\'JYSOn\',\'010-3871-7486\');',
 'INSERT INTO "PBook" VALUES(\'JYSOn\',\'010-3871-7486\');',
 'INSERT INTO "PBook" VALUES(\'Tom\',\'010-543-5432\');',
 'INSERT INTO "PBook" VALUES(\'DSP\',\'010\');',
 'INSERT INTO "PBook" VALUES(\'DSP\',\'010-3875-3847\');',
 'INSERT INTO "PBook" VALUES(\'Tom\',\'010-3857-3874\');',
 'COMMIT;']

In [29]:
con_mem2 = sqlite3.connect(":memory:")

with open('./dbcmd.txt', 'rb') as cmd:
    script = pkl.load(cmd)

'\n'.join(script)
cur2 = con_mem2.cursor()

cur2.executescript('\n'.join(script))

In [25]:
with open('./dbcmd.txt') as f :
    scrt = f.read()
    
cur2.executescript(scrt)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [26]:
iter(script)

In [31]:
cur.execute("SELECT * FROM PBook")

In [32]:
for el in cur:
    print (el)

('Derick', '010-1234-1234')
('JYSOn', '010-3871-7486')
('JYSOn', '010-3871-7486')
('Tom', '010-543-5432')
('DSP', '010')
('DSP', '010-3875-3847')
('Tom', '010-3857-3874')

In [34]:
cur.execute("SELECT * FROM PBook")
cur.fetchone()

('Derick', '010-1234-1234')

In [35]:
cur.fetchmany(2)

[('JYSOn', '010-3871-7486'), ('JYSOn', '010-3871-7486')]

In [36]:
cur.fetchall()

[('Tom', '010-543-5432'),
 ('DSP', '010'),
 ('DSP', '010-3875-3847'),
 ('Tom', '010-3857-3874')]

In [37]:
cur = con.cursor()
cur.executescript('\n'.join(script))
con.commit()

In [39]:
con_new = sqlite3.connect('./test.db')
cur = con_new.cursor()
cur.execute("SELECT * FROM PBook;")
print (cur.fetchall())

[('Derick', '010-1234-1234'), ('JYSOn', '010-3871-7486'), ('JYSOn', '010-3871-7486'), ('Tom', '010-543-5432'), ('DSP', '010'), ('DSP', '010-3875-3847'), ('Tom', '010-3857-3874')]

In [40]:
#Automated Commit Mode on every execution

con.isolation_level = None

In [45]:
cur.execute("SELECT * FROM PBook ORDER BY Name;")
cur.fetchall()

[('DSP', '010'),
 ('DSP', '010-3875-3847'),
 ('Derick', '010-1234-1234'),
 ('JYSOn', '010-3871-7486'),
 ('JYSOn', '010-3871-7486'),
 ('Tom', '010-543-5432'),
 ('Tom', '010-3857-3874')]

In [44]:
cur.execute("SELECT * FROM PBook ORDER BY Name DESC;")
cur.fetchall()

[('Tom', '010-543-5432'),
 ('Tom', '010-3857-3874'),
 ('JYSOn', '010-3871-7486'),
 ('JYSOn', '010-3871-7486'),
 ('Derick', '010-1234-1234'),
 ('DSP', '010'),
 ('DSP', '010-3875-3847')]

In [46]:
cur.execute("SELECT Name FROM PBook ORDER BY Name;")
cur.fetchall()

[('DSP',), ('DSP',), ('Derick',), ('JYSOn',), ('JYSOn',), ('Tom',), ('Tom',)]

In [47]:
cur.execute("SELECT Name FROM PBook ORDER BY Name;")
[r[0] for r in cur]

['DSP', 'DSP', 'Derick', 'JYSOn', 'JYSOn', 'Tom', 'Tom']

In [58]:
#내장정렬 함수.

def OrderFunc(str1, str2):
    s1 = str1.upper()
    s2 = str2.upper()
    return ((s1 > s2) - (s1 < s2)) # 1: Unordered(str1 > str2, 뒷선경우), -1 : Ordered(str1 < str2, 앞선경우)

In [59]:
con.create_collation('myordering', OrderFunc)
cur.execute("SELECT Name FROM PBook ORDER BY Name COLLATE myordering")

[r[0] for r in cur]

OperationalError: no such collation sequence: myordering

In [63]:
list(con.iterdump())
with open('./dump.sql', 'w') as f:
    for l in con.iterdump():
        f.write('{0}\n'.format(l))

In [73]:
#집계함수
#[abs, length, lower, upper, min,max, random, count(x), count(*), sum(x)]

import sqlite3

con = sqlite3.connect(":memory:")
cur = con.cursor()

cur.execute("CREATE TABLE PBook(Name text, Age integer);")

lst = (('Tom', 24), ('Derick', 30), ('Peter', 53), ('Jane', 29))
cur.executemany("INSERT INTO PBook VALUES(?,?);",lst)

cur.execute("SELECT length(Name), lower(Name), upper(Name) FROM PBook")
cur.fetchall()

[(3, 'tom', 'TOM'),
 (6, 'derick', 'DERICK'),
 (5, 'peter', 'PETER'),
 (4, 'jane', 'JANE')]

In [75]:
cur.execute("SELECT max(Age), min(Age), sum(Age) FROM PBook")

cur.fetchall()

[(53, 24, 136)]

In [78]:
cur.execute("SELECT count(*), random(*) FROM PBook")
cur.fetchall()

[(4, 5759839955509884382)]

In [ ]:
#사용자 정의 집계함수

#con.create_collation # User Defined Order Mapping
#con.create_aggregate

#con.create_function

class Average:
    def __init__(self):
        self.sum= 0
        self.cnt = 0
    def step(self,value):
        self.sum += value
        self.cnt +=1
        
    def finalize(self):
        return (self.sum / self.cnt)

In [ ]:
con = sqlite3.connect(":memory:")
cur = con.cursor()

lst = (('JYSON', 33), ('BSDKO',48),('DKEJV',38),('KDNEI',90),('KEDIV',43),('DKEIV',34))
cur.execute("CREATE TABLE Ltbl(Name text, Age integer);")
cur.executemany("INSERT INTO Ltbl VALUES(?,?);", lst)
cur.execute("SELECT * FROM Ltbl ORDER BY Age")
res = cur.fetchall()

In [100]:
print (res)

[('JYSON', 33), ('DKEIV', 34), ('DKEJV', 38), ('KEDIV', 43), ('BSDKO', 48), ('KDNEI', 90)]

In [84]:
con.create_aggregate('avg', 1, Average)
cur.execute("SELECT avg(Age) FROM Ltbl")
res = cur.fetchall()

In [85]:
print(res)

[(47.666666666666664,)]

In [104]:
#자료형
#[NULL <-> None, INTEGER <-> int, REAL <-> float, TEXT <-> str, bytes, BLOB <-> buffer]

import sqlite3
con = sqlite3.connect(":memory:")
cur = con.cursor()

cur.execute("CREATE TABLE tbl1(Name text, Age integer);") # Define with SQLITE3 Var type
cur.execute("CREATE TABLE tbl2(Name str, Age int);") # Define With PYTHON3 Var type

cur.executemany("INSERT INTO tbl1 VALUES(?,?);", lst)
cur.executemany("INSERT INTO tbl2 VALUES(?,?);", lst)

cur.execute("SELECT * FROM tbl1")
print (cur.fetchall())

cur.execute("SELECT * FROM tbl2")
print (cur.fetchall())

[('JYSON', 33), ('BSDKO', 48), ('DKEJV', 38), ('KDNEI', 90), ('KEDIV', 43), ('DKEIV', 34)]
[('JYSON', 33), ('BSDKO', 48), ('DKEJV', 38), ('KDNEI', 90), ('KEDIV', 43), ('DKEIV', 34)]

In [119]:
#사용자 정의 자료형

class Point(object):
    def __init__(self, x, y):
        print ('initialization')
        self.x, self.y = x, y
        
    def __repr__(self):
        print (self.x + self.y)
        return "Point(%f, %f)" % (self.x, self.y) #Instance 호출시 기본 출력형. print (instance)에서 수행하는 동작

In [ ]:
#sqlite3.resister_adapter(Point, PointAdapter)
#sqlite3.resister_converter("point", PointConverter)

#adapter : userdefined -> sqlite3 type
#converter : sqlite3 -> userdefined

In [65]:
import re
help(re.sub) #substitution

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the match object and must return
    a replacement string to be used.

In [67]:
help(str.strip)

Help on method_descriptor:

strip(...)
    S.strip([chars]) -> str

    Return a copy of the string S with leading and trailing
    whitespace removed.
    If chars is given and not None, remove characters in chars instead.

In [122]:
p = Point(1, 2)
p

initialization
3

Point(1.000000, 2.000000)

In [121]:
print (Point(2,4))

initialization
6
Point(2.000000, 4.000000)

In [128]:
print (p)

3
Point(1.000000, 2.000000)